@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i");
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:before {
  content: "";
  display: table;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

a {
  text-decoration: none;
  color: inherit;
}

input::-webkit-contacts-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  position: absolute;
  right: 0;
}

.container, .panel-double {
  *zoom: 1;
}

.container:before, .panel-double:before, .container:after, .panel-double:after {
  content: " ";
  display: table;
}

.container:after, .panel-double:after {
  clear: both;
}

body {
  background-color: #f3eeea;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 100%;
  max-width: 940px;
  margin: auto;
}

@media (max-width: 960px) {
  .container {
    padding: 0 10px;
  }
}

.right {
  float: right;
}

.left {
  float: left;
}

.text-center {
  text-align: center;
}

.img-responsive {
  width: 100%;
  height: auto;
}

.red-title {
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  color: #e4502d;
}

.dark-title {
  color: #4a4a4a;
  font-size: 12px;
  text-align: center;
}

.gray-title {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #9b9b9b;
}

.top-progress {
  height: 6px;
  width: 100%;
}

.top-progress__inner {
  height: 6px;
  background-color: #e4502d;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.btn-red {
  background-color: #e4502d;
  color: #fff;
  border-radius: 6px;
}

.btn-red:hover {
  color: #fff;
  background-color: #cd492a;
}

.btn-green {
  background-color: #1ed39b;
  color: #fff;
  border-radius: 6px;
}

.btn-green:hover {
  color: #fff;
  background-color: #1ed39b;
}

.gray-btn {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #c9c9c9;
  padding: 6px 0;
}

.c-textarea {
  outline: 0;
  width: 100%;
  resize: vertical;
  border-radius: 5px;
  background-color: #f8f8f8;
  border: 1px solid #f3eeea;
  padding: 10px;
}

.panel {
  padding: 10px;
  border-radius: 6px;
  background-color: #ffffff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.panel__title {
  color: #1ed39b;
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
  text-align: center;
}

.panel__text {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  text-align: center;
  color: #9b9b9b;
  margin-top: 5px;
}

.panel-task {
  padding: 90px;
  font-size: 83px;
  text-align: center;
  color: #9b9b9b;
}

.panel-answer {
  padding: 20px;
}

.panel-answer .c-textarea {
  margin-bottom: 10px;
}

.panel-answer .btn-red {
  padding: 6px 20px;
}

.panel-double {
  text-align: center;
}

.panel-double__left {
  width: 50%;
  float: left;
  border-right: 1px solid #f3eeea;
}

.panel-double .panel__title {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  color: #e4502d;
}

.panel-double .panel__text {
  font-size: 11px;
  color: #9b9b9b;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  background-size: cover;
}

.icon-tw {
  width: 20px;
  height: 20px;
  background-image: url(../img/icons/icon-tw.svg);
}

.icon-fb {
  width: 20px;
  height: 20px;
  background-image: url(../img/icons/icon-fb.svg);
}

.container {
  font-size: inherit;
  max-width: 960px;
}

.top-line {
  background-color: #1ed39b;
  color: inherit;
}

.main-nav {
  text-align: right;
}

.main-nav li {
  display: inline-block;
  padding: 16px 20px;
}

.main-nav li.social {
  margin-top: -5px;
  padding: 0 10px;
}

.main-nav li:last-child {
  padding-right: 0;
}

.main-nav li a {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 13px;
  color: #ffffff;
}

.header {
  background-color: #fff;
  position: relative;
  z-index: 1;
  padding: 19px 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

@media (max-width: 960px) {
  .header {
    text-align: center;
  }
  .header .btn {
    margin: 20px 0;
  }
}

.user-dropdown__img {
  display: inline-block;
  vertical-align: middle;
  max-width: 33px;
}

.user-dropdown__name {
  margin-left: 10px;
  font-size: 14px;
  font-weight: 500;
  color: #4a4a4a;
}

.graph__wrap {
  padding-top: 15px;
  background-color: #f9f7f5;
}

.graph__side {
  padding-top: 15px;
}

.graph__side .dark-title {
  margin: 15px 0 10px;
}

.graph-stat {
  text-align: center;
  border-bottom: 1px solid #f3eeea;
  min-height: 80px;
  padding: 15px 0;
}

.graph-stat:last-child {
  border-bottom: 0;
}

.graph-stat__number {
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
  color: #1ed39b;
  margin-top: 10px;
}

.graph-stat__number sup {
  font-size: 14px;
}

.graph-stat__text {
  font-size: 10px;
  font-weight: 500;
  color: #9b9b9b;
}

.stuff .container {
  background-color: #f9f7f5;
}

.footer {
  background-color: #4e4f4d;
}

.footer .main-nav li {
  padding: 25px 20px;
}

.copyright {
  color: #c9c9c9;
  padding: 27px 0;
  font-size: 12px;
}

.stuff-head {
  text-align: center;
  font-size: 0;
  padding: 20px 10px;
  margin-top: 30px;
}

.stuff-head-item {
  display: inline-block;
  font-size: 16px;
  padding: 0 25px;
  border-left: 1px solid #c9c9c9;
}

.stuff-head-item:first-child {
  border-left: 0;
}

.stuff-head-item__title {
  font-size: 23px;
  color: #4a4a4a;
}

.stuff-head-item__number {
  font-size: 17px;
  color: #9b9b9b;
  margin-top: 8px;
}

.level {
  margin: 20px 0;
}

.level__title {
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
  font-weight: 600;
  color: #4a4a4a;
}

.level__title span {
  font-size: 36px;
}

.level__lessons-number {
  text-align: right;
  color: #9b9b9b;
  padding: 6px 0;
}

.level__progress {
  width: 100%;
  height: 3px;
  border-radius: 6px;
  background-color: #e3ddd7;
}

.level__progress-inner {
  height: 3px;
  border-radius: 6px;
  background-color: #1ed39b;
}

.level__wrap {
  margin-top: 30px;
  padding: 20px 0;
  background-color: #f3eeea;
  border-radius: 6px;
}

.lesson-panel {
  position: relative;
}

.lesson-panel__number {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #1ed39b;
}

.lesson-panel__words {
  font-size: 12px;
  line-height: 1.6;
  color: #9b9b9b;
}

.lesson-panel.checked:after {
  content: "";
  position: absolute;
  height: 26px;
  width: 26px;
  top: -5px;
  right: -5px;
  background-image: url(../img/icons/icon-check.svg);
  background-size: cover;
}

.level-slider {
  padding: 0 10px;
  position: relative;
}

.level-slider__slide {
  padding: 10px;
}

.level-slider__slide .panel {
  margin-bottom: 0;
}

.level-slider .slick-arrow {
  position: absolute;
  top: 50%;
  height: 26px;
  width: 26px;
  font-size: 0;
  border: 0;
  padding: 0;
  outline: 0;
  transform: translateY(-50%);
  background-size: cover;
  background-color: transparent;
}

.level-slider .slick-next {
  right: -13px;
  background-image: url(../img/icons/icon-arrow-right.svg);
}

.level-slider .slick-next:hover {
  background-image: url(../img/icons/icon-arrow-right-hovered.svg);
}

.level-slider .slick-prev {
  left: -13px;
  background-image: url(../img/icons/icon-arrow-left.svg);
}

.level-slider .slick-prev:hover {
  background-image: url(../img/icons/icon-arrow-left-hovered.svg);
}

.green-cover {
  background-color: #2fd29c;
  background-image: url(../img/bg/green-cover-bg.png);
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}

.green-cover__progress {
  font-size: 21px;
  font-weight: 500;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
}

.green-cover__head {
  padding: 10px 20px;
}

.green-cover__body {
  padding-bottom: 20px;
}

#completeModal .btn-green {
  padding: 6px 20px;
}

#completeModal .red-title {
  padding: 10px 0;
  margin-bottom: 20px;
}

#completeModal a:hover {
  text-decoration: none;
}

#completeModal .modal-body {
  padding: 25px;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
  border-top: 0;
  padding: 10px;
  font-size: 14px;
}

.lesson {
  padding: 65px 40px;
}

.lesson__center {
  border-left: 1px solid #c9c9c9;
  border-right: 1px solid #c9c9c9;
}

@media (max-width: 960px) {
  .lesson__center {
    border: 0;
  }
}

.lesson .red-title {
  margin-bottom: 35px;
}

.lesson__question {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #4a4a4a;
  margin-bottom: 10px;
}

.lesson__row {
  margin-bottom: 20px;
}

.lesson__row .panel {
  max-width: 60px;
}

.lesson__row .panel .gray-title {
  margin-top: 10px;
}

.simple-text {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #4a4a4a;
}
