header {
	padding-top: 45px;
	margin-bottom: 40px;
	.logo-block {
		float: left;
		padding-left: 55px;
		@media screen  and (max-width: 425px) {
			padding-left: 0;
		}
		.logo {
			width: 249px;
			@media screen  and (max-width: 768px) {
				width: 228px;
			}
			@media screen  and (max-width: 425px) {
				width: 115px;
			}
		}
	}
	.login-block {
		float: right;
		padding-right: 68px;
		@media screen  and (max-width: 425px) {
			padding-right: 0;
		}
		.login-btn {
			background-color: $primary-green;
			color: #fff;
			font-size: 29px;
			font-weight: 700;
			padding: 8px 46px 8px 45px;
			border-radius: 9px;
			@media screen  and (max-width: 768px) {
				font-size: 24px;
			}
			@media screen  and (max-width: 425px) {
				font-size: 12px;
				font-weight: bold;
			}
		}
	}
}