@import "helpers/colors";

@import "partials/header";
@import "partials/welcome";
@import "partials/why";
@import "partials/is-it-for-you";
@import "partials/offer";
@import "partials/cta";
@import "partials/about";
@import "partials/footer";

body {
  background-color: white;
	font-family: 'Noto Sans', sans-serif;
	.italic {
		font-style: italic;
	}
}

.c-textarea {
  outline: 0;
  width: 100%;
  resize: vertical;
  border-radius: 5px;
  background-color: #f8f8f8;
  border: 1px solid #f3eeea;
  padding: 10px;
}
