{% extends "overall_site_temp.html" %}

{% block page_content %}
{% load staticfiles %}
 
	    <title>Kanjisama - Contact Us</title>
 
	    <!-- Bootstrap Core CSS -->
	    <link href="/static/homepage/css/lavish-bootstrap.css" rel="stylesheet">
 
	    <!-- Custom CSS -->
	    <link href="/static/homepage/css/landing-page.css" rel="stylesheet">
	    <link href="/static/homepage/css/dashboard.css" rel="stylesheet">
 
	    <!-- Custom Fonts -->
	    <link href="/static/homepage/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
 
	    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	    <!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	    <![endif]-->
 
	</head>
 
	<body>
		
 
			{% include "nav_bar.html" %}
 
    
	</body>
 
        <body class = "contact">
			<div class = "container-fluid" style = "padding:0px;">
				<div class = "row-fluid" >
					<div class="col-sm-6 col-lg-4 col-md-4 col-sm-offset-3 col-m-offset-4 col-lg-offset-4 contact-info text-center">
						<h1>Say Hi</h1>
						
						Have a question? Find a bug? Got an idea to make the site more awesome? Just want to say hello (our favorite)? 
						<br>
						Drop us a line at <a href="mailto:konnichiwa@kanjisama.com">konnichiwa@kanjisama.com</a>. 
						<br>
						We won't bite.
					</div>
				</div>	
			</div>
	    <!-- <h4>
		<div class="contact-info">
		If you have any questions, suggestions, or comments, feel free to contact us directly at <a href="mailto:konnichiwa@kanjisama.com">konnichiwa@kanjisama.com</a>.
		We appreciate any feedback you have to help us make this site a better experience.
		</div>
	    </h4>  --> 
	</body>
	
	    {% include "footer_new.html" %}
    <!-- jQuery -->
    <script src="/static/homepage/js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/static/homepage/js/bootstrap.min.js"></script>
 
 {% endblock %}