{% load staticfiles %}

<html>
	<head>

	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="description" content="">
	    <meta name="author" content="">

	    <title>Kanjisama - FAQ</title>

	    <!-- Bootstrap Core CSS -->
	    <link href="{% static "homepage/css/lavish-bootstrap.css" %}" rel="stylesheet">

	    <!-- Custom CSS -->
	    <link href="{% static "homepage/css/landing-page.css" %}" rel="stylesheet">
	    <link href="{%static "homepage/css/accordion.css" %}" rel="stylesheet">

	    <!-- Custom Fonts -->
	    <link href="{% static "homepage/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
	    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

	    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	    <!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	    <![endif]-->

	</head>
	<body>
		{% include "nav_bar.html" %}
		
		<div class="main">
			
			<div class="accordion">
				<div class="accordion-section">
					<a class="accordion-section-title" href="#accordion-0">Who is this for?</a>
					<div id="accordion-0" class="accordion-section-content">
						<p>This is for people serious about learning Japanese. Learning Japanese is not for the faint of heart and Kanjisama's goal is to help those who truly want to learn Japanese to learn it as quickly and effectively as possible. Due to the nature of spaced-repetition reviews, you won't be able to learn very much if you are only able to use the app a couple days a week. If you are just studying Japanese because you are visiting Japan in a few weeks or because you simply need to pass a Japanese class then you probably won't benefit from this application as much. However, you can give it a try for a few days and see if it works for you! </p>
					</div><!--end .accordion-section-content-->
				</div><!--end .accordion-section-->
				
				<div class="accordion-section">
					<a class="accordion-section-title" href="#accordion-1">What do I need to know before I can do this?</a>
					<div id="accordion-1" class="accordion-section-content">
						<p>You should already know how to read hiragana and katakana, otherwise you should be good to go!</p>
					</div><!--end .accordion-section-content-->
				</div><!--end .accordion-section-->

				<!-- <div class="accordion-section">
					<a class="accordion-section-title" href="#accordion-2">How will I learn from this?</a>
					<div id="accordion-2" class="accordion-section-content">
						<p>Blank</p> -->
					<!-- </div>
				</div> -->

				<div class="accordion-section">
					<a class="accordion-section-title" href="#accordion-3">What won't I learn from this?</a>
					<div id="accordion-3" class="accordion-section-content">
						<p>You will not learn how to write words and you won't learn grammar. Learning to write kanji is extremely time intensive and has very little payoff since most writing nowadays is done via keyboard (seriously think about how often you even have to handwrite english). In the same amount of time you could memorize learning one kanji you could have learned several words so it's better to focus your time learning other areas of Japanese. </p>
					</div><!--end .accordion-section-content-->
				</div><!--end .accordion-section-->
				
				<div class="accordion-section">
					<a class="accordion-section-title" href="#accordion-4">What if I already know a ton of words and kanji?</a>
					<div id="accordion-4" class="accordion-section-content">
						<p>That's fine! You have complete control over what you learn and don't learn. You don't have to relearn things you already know. Just go through our quick setup and you'll be good to go.</p>
					</div><!--end .accordion-section-content-->
				</div><!--end .accordion-section-->
				
				<div class="accordion-section">
					<a class="accordion-section-title" href="#accordion-5">How long will this take?</a>
					<div id="accordion-5" class="accordion-section-content">
						<p>It's up to you! You can go at your own pace. If you're ambitious you can add 6 kanji a day and finish all 2136 in a little under a year. This would also imply that you learn about 6,500 words in that same time period (that's up to you as well). Learning all the Jouyou kanji in a year is pretty unheard of for other programs including college courses etc.</p>
					</div><!--end .accordion-section-content-->
				</div><!--end .accordion-section-->
				
				<div class="accordion-section">
					<a class="accordion-section-title" href="#accordion-6">What is SRS?</a>
					<div id="accordion-6" class="accordion-section-content">
						<p>SRS stands for Spaced Repetition System. Basically, after we learn things we tend to forget them over time, which is a big problem when learning something like Japanese. Too often people will learn a kanji reading or a word only to completely forget it a few days, weeks, or months later. SRS solves this problem by periodically showing you words that you have already studied and then based on whether you get it right or wrong, adjusting the amount of time that the word will be shown to you again in the future.</p>
					</div><!--end .accordion-section-content-->
				</div><!--end .accordion-section-->
				
				<div class="accordion-section">
					<a class="accordion-section-title" href="#accordion-7">Is there a mobile app for this?</a>
					<div id="accordion-7" class="accordion-section-content">
						<p>Yeah! This is what you would call an HTML5 application so you don't need to download it from an app store. Simply go to visit kanajisama.com on your mobile device and add it to your homescreen to install it on your phone. </p>
					</div><!--end .accordion-section-content-->
				</div><!--end .accordion-section-->
				
				<div class="accordion-section">
					<a class="accordion-section-title" href="#accordion-8">Where are these words and definitions from?</a>
					<div id="accordion-8" class="accordion-section-content">
						<p>The base of our definitions come from the Jim Breem's JMdict files which is the largest and most widely used source of Japanese words and translations on the web and on mobile applications. However, we are constantly in the process of improving definitions and providing alternative definitions. If you have any suggestions feel free to email us at konnichiwa@kanjisama.com</p>
					</div><!--end .accordion-section-content-->
				</div><!--end .accordion-section-->
				
				<div class="accordion-section">
					<a class="accordion-section-title" href="#accordion-9">What's up with the koala on the homepage?</a>
					<div id="accordion-9" class="accordion-section-content">
						<p>What, you don't like koalas?</p>
					</div><!--end .accordion-section-content-->
				</div><!--end .accordion-section-->
		
		<!-- The below is a template for adding more Questions & Answers
		<!--		<div class="accordion-section">
					<a class="accordion-section-title" href="#accordion-8">Accordion Section #3</a>
					<div id="accordion-8" class="accordion-section-content">
						<p></p>
					</div><!--end .accordion-section-content-->
			<!--	</div><!--end .accordion-section-->
				
			</div><!--end .accordion-->
	
		
		</div>
	</body>

{% include "footer_new.html" %}
    <!-- jQuery -->
    <script src="{% static "homepage/js/jquery.js" %}"></script>
    <script type="text/javascript" src="{%static "homepage/js/accordion.js" %}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "homepage/js/bootstrap.min.js" %}"></script>

</html>