{% extends "overall_site_temp.html" %}

{% block page_content %}
{% load staticfiles %}
<html lang="en">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="Highscores for Kanjisama" content="">
        <meta name="Steffan" content="">
        <title>Kanjisama - High Scores</title>

        {% include "css.html" %}
        {% include "favicon.html" %}

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>
    <body>
        {% include "nav_bar.html" %}
        <div class = "container">
            <div class = "row text-center" style = "margin-top:40px; margin-bottom:0px">
                <h1>High Scores
                </h1>
            </div>
        </div>
        <h3>Should be 3 equal columns</h3>
        <div class="row" style = "padding-top:50px">

            <div class = "Most words reviewed in a day">.col-md-4>
                "stuff"
            </div>
            <div class = "Most words all time">.col-md-4>
                "stuff2"
            </div>
            <div class = "Most words mastered">.col-md-4>
                "stuff3"
            </div>

        </div>
    </body>
    
    {% include "footer_new.html" %}
    <!-- jQuery -->
    <script src="{% static "homepage/js/jquery.js" %}"></script>
    <script type="text/javascript" src="{%static "homepage/js/accordion.js" %}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "homepage/js/bootstrap.min.js" %}"></script>
</html>
{% endblock %}