{% extends "overall_site_temp.html" %}

{% block page_content %}
{% load staticfiles %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="Highscores for Kanjisama" content="">
        <meta name="Steffan" content="">
        <title>Kanjisama - High Scores</title>

        {% include "css.html" %}
        {% include "favicon.html" %}
        <link rel="stylesheet" type="text/css" href="homepage/static/homepage/css/highscores.css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>
    <body>
        {% include "nav_bar.html" %}
        <div class = "container">
            <div class = "row text-center" style = "margin-top:40px; margin-bottom:0px">
                <h1 style = "font-size:400%">High Scores
                </h1>
            </div>
        </div>
        <div class = "row text-center">
            <h3 style = "color:blue">Here are the top Samurai Koala on the site!</h3>
        </div>
        <div class="row" align = "center">

            <!-- <div class = "col-md-4 custom-test"><section-titles-font>Most All-Time Reviews</section-titles-font>
            </div> -->
            <div class = "col-md-4 col-md-offset-4" align = "center"><section-titles-font>Most Reviews In A Day</section-titles-font>
            </div>
            <!-- <div class = "col-md-4 custom-test"><section-titles-font>Most Mastered Words</section-titles-font>
            </div> -->
        </div>
        <div class="row" align = "center">
            <!-- <div class="col-md-4 custom-test">
                <h4>Name of Number One - </h4>
            </div> -->
            <div class="col-md-4 col-md-offset-4" align = "center">
                <img id = "one rect"  style = "height:100px" src="{% static "homepage/img/one rect.png" %}" alt=""> <rank-1-font> {{ mostInDayScores.0.user }} {{ mostInDayScores.0.most_words_practiced_in_day }} </rank-1-font>
                <img id = "two rect"  style = "height:90px" src="{% static "homepage/img/two rect.png" %}" alt=""><rank-2-font> {{ mostInDayScores.1.user }} {{ mostInDayScores.1.most_words_practiced_in_day }} </rank-2-font>
                <img id = "three rect"  style = "height:80px" src="{% static "homepage/img/three rect.png" %}" alt=""><rank-3-font> {{ mostInDayScores.2.user }} {{ mostInDayScores.2.most_words_practiced_in_day }} </rank-3-font>
                <img id = "four rect"  style = "height:70px" src="{% static "homepage/img/four rect.png" %}" alt=""><rank-4-font> {{ mostInDayScores.3.user }} {{ mostInDayScores.3.most_words_practiced_in_day }} </rank-4-font>
                <img id = "five rect"  style = "height:60px" src="{% static "homepage/img/five rect.png" %}" alt=""><rank-5-font> {{ mostInDayScores.4.user }} {{ mostInDayScores.4.most_words_practiced_in_day }} </rank-5-font>
                <img id = "six rect"  style = "height:50px" src="{% static "homepage/img/six rect.png" %}" alt=""><rank-6-and-lower-font> {{ mostInDayScores.5.user }} {{ mostInDayScores.5.most_words_practiced_in_day }} </rank-6-and-lower-font>
                <img id = "seven rect"  style = "height:50px" src="{% static "homepage/img/seven rect.png" %}" alt=""><rank-6-and-lower-font> {{ mostInDayScores.6.user }} {{ mostInDayScores.6.most_words_practiced_in_day }} </rank-6-and-lower-font>
                <img id = "eight rect"  style = "height:50px" src="{% static "homepage/img/eight rect.png" %}" alt=""><rank-6-and-lower-font> {{ mostInDayScores.7.user }} {{ mostInDayScores.7.most_words_practiced_in_day }} </rank-6-and-lower-font>
                <img id = "nine rect"  style = "height:50px" src="{% static "homepage/img/nine rect.png" %}" alt=""><rank-6-and-lower-font> {{ mostInDayScores.8.user }} {{ mostInDayScores.8.most_words_practiced_in_day }} </rank-6-and-lower-font>
                <img id = "ten rect"  style = "height:50px" src="{% static "homepage/img/ten rect.png" %}" alt=""><rank-6-and-lower-font> {{ mostInDayScores.9.user }} {{ mostInDayScores.9.most_words_practiced_in_day }} </rank-6-and-lower-font>
            </div>
            <!-- <div class="col-md-4 custom-test">
                <h4>Name of Number One - Mastered Words</h4>

                <h4>stuff 4</h4>

                <h4>stuff 5</h4>
            </div> -->

        </div>
    </body>
    
    {% include "footer_new.html" %}
    <!-- jQuery -->
    <script src="{% static "homepage/js/jquery.js" %}"></script>
    <script type="text/javascript" src="{%static "homepage/js/accordion.js" %}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "homepage/js/bootstrap.min.js" %}"></script>
</html>
{% endblock %}