{% load staticfiles %}


<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
	<link rel="apple-touch-icon"
	      href="{% static "homepage/img/koala_only_edited.png" %}" />
	<link rel="apple-touch-icon-precomposed"
	      href="{% static "homepage/img/koala_only_edited.png" %}" />
		  
    <title>Kanjisama</title>

    {% include "css.html" %}
	
	{% include "favicon.html" %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    {% include "nav_bar.html" %}

    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
				
                <div class="col-lg-5 col-md-5">
                    <div class="intro-message" style = "margin-top: -10%; padding-bottom:0%">
						<!-- <div id = "crop" class = "center-block"> -->
                        	<!-- <img id = "text-logo" class="img-responsive center-block" src="{% static "homepage/img/text_only_new.svg" %}" alt=""> -->
						<!-- </div> -->
						<img id = "koala" class="img-responsive center-block" style = "height:300px" src="{% static "homepage/img/koala_only_edited.svg" %}" alt="">
                        <h3>A flexible spaced repetition based kanji and vocabulary learning application</h3>
                        <hr class="intro-divider">
						
                        
                    </div>
                </div>
				
                <div class="col-lg-5 col-md-5 col-lg-offset-2">
					<form style = "margin-top: 30%;" action = "/login/auth/" method = "POST">{% csrf_token %}
					  <div class="form-group">
					    
					    <input type="email" class="form-control input-lg" name = "username" id="exampleInputEmail1" placeholder="Enter email">
					  </div>
					  <div class="form-group">
					    
					    <input type="password" class="form-control input-lg" name = "password" id="exampleInputPassword1" placeholder="Password">
					  </div>
					  
					  <div class="row">
					  				<div class="col-xs-12 col-md-6"><input type="submit" value="Sign In" class="btn btn-primary btn-block btn-lg" tabindex="7"></div>
					  				<div class="col-xs-12 col-md-6"><a href="{% url 'registration_register' %}" class="btn btn-info btn-block btn-lg">Create Account</a></div>
					  </div>
					  
					  
					</form>
                    </div>
                </div>
				
            </div>
        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

	<a  name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Learn kanji and words at your<br> own pace</h2>
                    <p class="lead">Learn the 2136 kanji that all Japanese children learn in school through the most common Japanese vocab words. Learn 5 new words a day or 20 words a day its up to you.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img id = "learning-image" class="img-responsive center-block" src="{% static "homepage/img/learning.svg" %}" alt="">
					<div class = "white-cover"></div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Remember your words using a spaced repetition system</h2>
                    <p class="lead">We show which words you need to review to help burn them into your long term memory. Words you have trouble with will be shown more frequenly and words you master will gradually dissappear.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img id = "thinking-image" class="img-responsive center-block" src="{% static "homepage/img/thinking.svg" %}" alt="">
					<div class = "blue-cover"></div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Keep track of your progress</h2>
                    <p class="lead">See your knowledge of kanji and japanese vocab increase in front of you. See which words you have the most trouble with. Make sure your on pace to hit your goals.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img id = "progress-image" class="img-responsive center-block" src="{% static "homepage/img/progress.svg" %}" alt="">
					<div class = "white-cover"></div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

	<a  name="contact"></a>
    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-5" style = "margin-bottom:30px;">
                    <h2>Ready to get going?</h2>
                </div>
                <div class="col-lg-5">
                    <a href = "{% url 'registration_register' %}" id = "start-learning-btn" class="btn btn-lg btn-primary center-block" role = "button">Start Learning!</a>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <ul class="list-inline">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#about">About</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#services">Services</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#contact">Contact</a>
                        </li>
                    </ul>
					
                    <p class="copyright text-muted small">Copyright &copy; kanjisama 2014. All Rights Reserved</p>
                </div>
                <div class="col-lg-5">
                    <ul class="list-inline intro-social-buttons">
                        <li>
                            <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg center-block"><i class="fa fa-twitter fa-fw"></i> <span class="nework-name">Twitter</span></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg center-block"><i class="fa fa-facebook fa-fw"></i> <span class="n">Facebook</span></a>
                        </li>
                    </ul>
					
                    
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{% static "homepage/js/jquery.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "homepage/js/bootstrap.min.js" %}"></script>

</body>

</html>
