{% extends "overall_site_temp.html" %}


{% load staticfiles %}

{% block pagetitle%}Home{% endblock %}

{% block header%}
	{% include "nav_bar.html" %}
{% endblock%}

{% block content %}

	<section id = "featured" class = "section">
		{% if full_name %}
		<div class = "header">Hi, {{ full_name }}.</div>
		
		{% else %}
		<br/>
		<div class = "header"> A flexible spaced repetition based kanji and vocabulary learning application </div>
		{% endif %}
		
		<br/>
		
		
		<div id = "tst">
			
			
			<div id = "answerbox" style = "width:450px; height:220px;">
				<div class = "flipper" style = "width:450px; height:220px;">
					<div id = "front" style = "width:450px; height:220px; line-height:200px; font-size:6em">歓迎</div>
					<div id = "back" style = "width:450px; height:220px;line-height:200px; font-size:4em;">かんげい</div>
				</div>
			</div>
			
		</div>
		
	</section>
	
	<section id = "signin" class = "section">
		{% if not full_name %}
		<form id = "login-form" action = "/login/auth/" method = "POST">{% csrf_token %}
			<!-- <input type = "button" id = "facebook" class = "button" value = "login with Facebook"></input>
			<br/> -->
			<input type = "text" class = "login" name = "username" placeholder = "email address"></input>
			<br>
	
			
			<input type = "password" class = "login" name = "password" placeholder = "password"></input>
			<br/>
			<input type = "submit" class = "button" value = "login"></input>
			<br/>
			
			
			
		</form>
		<p style = "float:left; margin-left:28%">or</p>
		<br style = "clear:both"/>
		<a href = "{% url 'registration_register' %}"><div id = "account-create" class = "button">create account</div></a>
		{% else %}
		{% endif %}
		
		
		
	</section>
	
	
	
	
	
{% endblock %}

{% block after-outer %}
	<!-- <hr/> -->
	
	<div id = "articles" class = "explanation-section">
		<br/>
		<div class = "half-section">
			<div class = "header">Learn kanji and words at your own pace</div>
			<br style = "clear:both;"/>
		
			<div class = "explanation-text"> Learn the 2136 kanji that all Japanese children learn in school through the most common Japanese vocab words. Learn 5 new words a day or 20 words a day its up to you.</div>
		</div>	
		
		<div class = "half-section">
			<div id = "kanji-chart">
			{% for each in kanji_objects%}	
				{{ each.kanji_name}}
			{% endfor %}	
			</div>	
		</div>
		
	</div>
	
	<div id = "articles" class = "explanation-section blue">
		<br/>
		<div class = "half-section">
			<div id = "dashboard-image1">
			<!-- <img src = "{% static 'homepage/dashboard-alt.png' %}"/> -->
			</div>
		</div>
		<div class = "half-section">
			<div class = "header">Remember your words using a spaced repetition system</div>
			<br style = "clear:both;"/>
			<div class = "explanation-text">We show which words you need to review to help burn them into your long term memory. Words you have trouble with will be shown more frequenly and words you master will gradually dissappear.</div>
		</div>	
		
	</div>
	
	<div id = "articles" class = "explanation-section">
		<br/>
		<div class = "half-section">
			<div class = "header">Keep track of your progress</div>
			<br style = "clear:both;"/>
			<div class = "explanation-text">See your knowledge of kanji and japanese vocab increase in front of you. See which words you have the most trouble with. Make sure your on pace to hit your goals.</div>
		</div>
		<div class = "half-section">	
			<div id = "dashboard-image">
			<!-- <img src = "{% static 'homepage/dashboard-alt.png' %}"/> -->
			</div>
		</div>	
	</div>
	<!-- <div id = "resources" class = "section">
		<div class = "header">Resources</div>
	</div> -->

	<br style = "clear:both"/>
{% endblock %}

{% block scripts %}
<script>
var front_back_count = 0;
var back_card = "かんげい";
	setInterval(function(){
		
		
		
		if(front_back_count == 2){
			if(back_card == "Welcome"){
				back_card = "かんげい";
			}else{
				back_card = "Welcome";
			};
			front_back_count = 0;
		};
		
		
		
		$("#back").html(back_card);
		
		
		$("#answerbox").toggleClass("answerbox2");
	
		front_back_count += 1;
		
		
	}, 5000);
	
	

	
</script>
	
{% endblock %}	

{% block footer%}
 {% include "../../kanjisite/templates/footer.html" %}
{% endblock%}