{% extends 'overall_site_temp.html' %}
{% block pagetitle %}Invalid Login{% endblock %}

{% block content %}
		<p>Sorry, that was an invalid username or password, please try again. Or if you don't have one, <a href = "#">create a new account.</a></p>
		<form id ="invalidform" action = "/login/auth/" method = "POST">{% csrf_token %}
			<input type = "button" id = "facebook" class = "button" value = "login with Facebook"></input>
			<br/>
			<input type = "text" class = "login" name = "username" placeholder = "username"></input>
			<br>
			<input type = "password" class = "login" name = "password" placeholder = "password"></input>
			<br/>
			<input type = "submit" class = "button" value = "login"></input>
			<br/>
			<br/>
			or
			<br/>
		
		</form>
		<a href = "/create-account/"><button class = "button">create account</button></a>

{% endblock %}