{% extends 'overall_site_temp.html' %}
{% block pagetitle %}Invalid Login{% endblock %}

{% block content %}

</br>
</br>
		<p>Sorry, that was an invalid username or password, please try again. Or if you don't have one, <a href = "#">create a new account.</a></p>
		<form id ="invalidform" action = "/login/auth/" method = "POST">{% csrf_token %}
			<!-- <input type = "button" id = "facebook" class = "button" value = "login with Facebook"></input> -->
			<br/>
			<input type = "text" class = "login" name = "username" placeholder = "email address"></input>
			<br>
			<input type = "password" class = "login" name = "password" placeholder = "password"></input>
			<br/>
			<input type = "submit" class = "button" value = "login"></input>
			<br/>
			<br/>
			or
			<br/>
		
		</form>
		<a href = "/register/"><div id = "account-create" class = "button" style = "margin-left:473px;">create account</div></a>

{% endblock %}