colors{
	red: #e65555; rgba(230, 85, 85, 1)
	blue: #86e7fc;
	grey:#d2d2d2;
	green:rgba(66,235,89,1);
}

body {
  margin: 0px;
  font-family: "Helvetica Neue";
  background-color: #86e7fc;
/*  text-align:center;*/
 }



header {
  width: 100%;
  height: 70px;
  background-color: #e65555;
  margin-top: 0px;
  /*-webkit-box-shadow: 0px 5px 15px -6px rgba(0,0,0,0.63);
  -moz-box-shadow: 0px 5px 15px -6px rgba(0,0,0,0.63);
  box-shadow: 0px 5px 15px -6px rgba(0,0,0,0.63);*/ }
  
  header #navigation {
    width: 1200px;
    height: 70px;
    background-color: inherit;
    margin-right: auto;
	margin-left:auto;
    margin-top: none; }
	
  header a {
    text-decoration: none;
    color: white;
    padding: 23px 10px 24px 10px;
    font-weight: bold;
    font-size: 1.2em; }
	
  header a:hover {
    color: white;
    background-color: black; }
	
  header ul {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 5%;
    float: right; }
	
  header li {
    height: 70px;
    list-style: none;
    display: block;
    float: left;
    margin-left: 0px;
    line-height: 70px;
    margin-top: 0px; }
	
  header #logo {
    margin-top: -6px;
    height: 70px;
    float: left;
    margin-left: 5%;
    font-size: 3.5em;
    font-family: "Futura";
    color: black;
    font-weight: bold;
    font-weight: bold;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white; }

#introduction {
  width: 50%;
  background-color: #c8c8c8;
  margin: auto;
  margin-top: 2%;
  border-radius: 5px;
  padding: 10px; }

.infobox {
  width: 70%;
  height: auto;
  margin: auto;
  padding: 10px;
  background-color: white;
  text-align: left;
  border-radius: 5px; }

#outercontainer {
  min-height: 550px;
  width: 1200px;
/*  float: left;*/
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  position: relative;
/*  margin-top: 0px;*/
  /*home page styles -----------------------------*/
  /*#featured{
  	background-color:$blue;
  }
  
  #resources{
  	background-color:$blue;
  }
  
  #articles{
  	background-color:rgba(230,230,230,1);
  	
  	.header{
  		color:rgba(120,120,120,1);
  	}
  }*/
  /*	card for home page --------------------------*/
  /*speed of flip*/
  /*this is for the flashcard page ---------------------------------*/
  /*#card{
  	width:40%;
  	height:300px;
  	margin-left:15%;
  	float:left;
  	margin-top:10%;
  	border-style:solid;
  }*/ }
  #outercontainer .section {
    width: 50%;
    height: 500px;
    border-color: black;
    float: left;
    color: white;
    text-align: center; }
	
  #outercontainer #featured {
    width: 60%;
    text-align: left;
    margin-left: 5%; }
	
  #outercontainer #signin {
    width: 35%; }
	
  #outercontainer #resources {
    background-color: white;
    color: black; }
	
  #outercontainer #articles {
    background-color: white;
    color: black; }
	
  #outercontainer hr {
    width: 100%;
    margin-bottom: 0px; }
	
	/*FORM stufff --------------------------------*/
	
  #outercontainer #login-form {
    width: 50%;
    margin-top: 25%;
    text-align: center; }
	
    #outercontainer #invalidform {
	  margin:auto;
	  margin-top:0px;		
      width: 50%;
      /*margin-top: 10%;*/
      text-align: center;
  }
	
    #outercontainer form .login {
      height: 35px;
      width: 200px;
      margin-top: 10px;
      font-size: 1.5em;
      border: none;
      border-radius: 5px;
      text-align: center;
      color: #b4b4b4; }
	  
   #facebook {
      height: 35px;
      width: 200px;
      background-color: #2e4775;
      color: white;
      margin: auto;
      font-size: 1.1em;
      font-weight: none; }
	  
	#account-create {
        height: 35px;
        width: 200px;
        margin-top: 10px;
        background-color: #d2d2d2;
		margin-left:2%;
        border-style: none;
        border-radius: 5px;
		line-height:35px;
        font-weight: bold;
		font-size: .8em;
        color: #828282;
        cursor: pointer;
        text-align: center;
		text-decoration:none; 
	}  
	
	a {
		text-decoration:none;
	}
	  
    #outercontainer form .button {
      height: 35px;
      width: 200px;
      margin-top: 10px;
      background-color: rgba(66,235,89,1);
      border-style: none;
      border-radius: 5px;
      font-weight: bold;
      color: white;
      cursor: pointer;
      text-align: center; }
	 
	 /*END FORM ----------------------------------- */
	  
  #outercontainer .header {
    font-size: 2em;
    margin-top: 10px;
    font-weight: bold; }
	
  #outercontainer #answerbox {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;
    background-color: #86e7fc;
    margin-top: 12px;
    line-height: 160px;
    float: left;
    margin-right: 10px;
    width: 150px;
    height: 150px; }
	
  #outercontainer .answerbox2 .flipper,
  #outercontainer .answerbox2 .flipper {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg); }
	
	
  #outercontainer .flipper {
    -webkit-transition: 0.2s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 0.2s;
    -moz-transform-style: preserve-3d;
    -o-transition: 0.2s;
    -o-transform-style: preserve-3d;
    transition: 0.2s;
    transform-style: preserve-3d; }
	
  #outercontainer #front, #outercontainer #back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: #f0f0f0;
    border-width: 1px;
    border-color: #969696;
    border-style: solid;
    border-radius: 5px;
    -webkit-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.75);
    font-size: 3em;
    float: left;
    width: 100%;
    height: 150px;
    line-height: 150px;
    color: black;
    text-align: center; }
	
  #outercontainer #back {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
    position: absolute; }
	
	#outercontainer #middle #center .back-multi  {
		display: table;
/*		display:table;*/
/*		font-size:.5em;*/
/*		  line-height:300px;*/
/*		  vertical-align:middle;*/
/*		  color:green;*/
	}			
#outercontainer #middle #center .back-multi > span  {
display: table-cell;
  vertical-align: middle;
  line-height:30px;
  font-size:.9em;
}

/*#outercontainer #middle #center .back {
	display:table-cell;
	line-height:95px;
	  margin:10px;
	  float:left;
}*/
	
  #outercontainer .sidebar {
    height: 450px;
    background-color: none;
    width: 15%;
    margin-left: 5%; }
	
  #outercontainer .preview {
    width: 100%;
    height: 40px;
    margin-top: 10px;
    line-height: 40px;
    background-color: whitesmoke;
    position: relative;
    border-style: solid;
    border-width: 1px;
    border-color: #969696;
    border-radius: 5px; }
	
  #unanswered {
    float: left; }
	
  #answered {
    float: right;
    margin-right: 5%; }
	
	
    #card {
      width: 30%;
      height: 200px;
      margin: auto;
      margin-top: 100px;
      line-height: 200px;
      font-size: 3em;
      background-color: rgba(230, 85, 85, 0.3);
      border-style: solid;
      border-color: #e65555;
      border-width: 1px;
      border-radius: 10px; }
	  
    #answerinput {
      width: 30%;
      height: 50px;
      margin: auto;
      margin-top: 15px;
      background-color: white;
      border-color: rgba(88, 211, 247, 0.5);
      border-style: solid;
      border-width: 1px;
      font-size: 2em;
      color: grey;
      text-align: center;
      border-radius: 5px;
      outline: none; }
	  
     #result {
      height: 50px;
      width: 50px;
      font-size: 2em;
      float: right; }
	  
     #scoreholder {
      width: 40%;
      overflow: auto;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      margin-bottom: 10px; }
	  
    .scorebox {
      width: 47%;
      height: auto;
      float: left;
      background-color: gainsboro;
      border-radius: 5px;
      padding-top: 3px; }
	  
    .title {
      width: 100%;
      height: 20px;
      float: left;
      font-size: .8em;
      color: white; }
	  
    .score {
      width: 100%;
      height: 30px;
      margin-top: -10px;
      float: left;
      font-size: 1.5em;
      color: #969696; }
	  
    .right {
      float: right; }
	 
	#middle{
		text-align:center;
	} 
	
	#middle #center {
		//border-style:solid;
/*		height:250px;*/
		height:200px;
		//overflow:auto;
	} 
	 
	#middle .cardhold {
/*		height:250px;*/
		height:220px;
		width:33.3%;
		overflow:auto;
		//border-style:solid;
		float:left;
		text-align:center;
		position:relative;
		
	} 
	  
    #outercontainer #middle .answerbox {
      -webkit-perspective: 1000;
      -moz-perspective: 1000;
      -o-perspective: 1000;
      perspective: 1000;
      width: 90%;
      height: 200px; 
/*	  height: 250px;*/
      background-color: #86e7fc;
      /*margin-left: auto;
      margin-top: 12px;*/
/*	  margin-top:30px;*/
      line-height: 160px; 
	  text-align:center;
	  float:none;
	  position:relative;
	  margin:auto;
	  margin-top:0px;
	  
  }
	  
	 
	  
    #middle .answerbox2 .flipper,
   	#middle .answerbox2 .flipper {
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      -o-transform: rotateY(180deg);
      transform: rotateY(180deg);
/*  	height:240px;*/
	height:200px;

}
	  
	  
    #middle .flipper {
      -webkit-transition: 0.2s;
      -webkit-transform-style: preserve-3d;
      -moz-transition: 0.2s;
      -moz-transform-style: preserve-3d;
      -o-transition: 0.2s;
      -o-transform-style: preserve-3d;
      transition: 0.2s;
      transform-style: preserve-3d; }
	  
    #middle .front, #middle .back {
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -o-backface-visibility: hidden;
      backface-visibility: hidden;
      background-color: whitesmoke;
      border-width: 1px;
      border-color: #969696;
      border-style: solid;
      border-radius: 5px;
      -webkit-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.75);
      font-size: 60px;
      float: left;
      width: 100%;
      height: 100%;
      line-height: 200px; }
	  
    #middle .back {
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      -o-transform: rotateY(180deg);
      transform: rotateY(180deg);
      position: absolute;
  height:100%;
font-size: 40px; }
	  
	  #outercontainer #middle .mini{
		  width:45%;
		  height:133px;
		  margin:auto;
		  margin-top:40px;
		  float:none;
	  }
	  
/*need this for the front and back classes because they are within the answerbox and need a width that is 100%*/
	 #middle .mini2{
		  width:100%;
		  height:100%;
		  font-size:20px;
		  line-height:133px;
	  }
	  
	  #middle .left{
		  float:left;
	  }
	  
	  #middle .right{
		  float:right;
	  }
	  
	 #qtype {
		 font-size:1em;
		 height:30px;
		 color:grey;
	 } 
	 
	 #atype {
		 font-size:1em;
		 height:30px;
		 color:grey;
	 } 
	 
	  
/*	  This is for the page with all the cards  ---------------------------*/
	 
	 
	 
/*	  Dashboard page  ---------------------------*/	 
	 
	 
#dashboard-title{
	float:left;
	margin-left:5%;
	font-size:2.5em;
	color:white;
}

#review-indicator {
	height:140px;
	width:140px;
	border-radius:50%;
	float:left;
	background-color:white;
	text-align:center;
	margin-left:7%;
	margin-bottom:20px;
	border-style:solid;
	border-width:10px;
	border-color: #e65555;
	-webkit-box-shadow: 1px 3px 3px #666666;
	  -moz-box-shadow: 1px 3px 3px #666666;
	  box-shadow: 1px 3px 3px #666666;
	color:black;
	transition: background-color: .5s;
	-webkit-transition: border-color .5s;
	-moz-transition: border-color .5s;
}


#review-indicator:hover{
	
	border-color:rgba(66,235,89,1);
}

#review-indicator > span{
	  vertical-align: middle;
	  line-height:30px;
/*	  text-align:center;*/
	  font-size:3em;
	  
}

#review-indicator-no-click {
	height:140px;
	width:140px;
	border-radius:50%;
	float:left;
	background-color:white;
	text-align:center;
	margin-left:7%;
	margin-bottom:20px;
	border-style:solid;
	border-width:10px;
	border-color: #3ED4F9;
	/*-webkit-box-shadow: 1px 3px 3px #666666;
	  -moz-box-shadow: 1px 3px 3px #666666;
	  box-shadow: 1px 3px 3px #666666;*/
	color:black;
	
	
}

#review-indicator-no-click > span{
	  vertical-align: middle;
	  line-height:30px;
/*	  text-align:center;*/
	  font-size:2em;
}



.overlay-reviews {
	height:140px;
	width:140px;
	border-radius:50%;
	position:absolute;
	background-color:rgba(150,150,150,1);
	color:white;
	opacity:0;
	transition: opacity .3s;
	-webkit-transition: opacity .3s;
	-moz-transition: opacity .3s;
}

.overlay-reviews:hover {
	opacity:1;
}

.overlay-reviews > p {
	
	margin-top:30px;
}

.overlay-reviews > span {
	font-weight:bold;
	font-size:1.5em;
}


#lesson-create {
	height:140px;
	width:140px;
	border-radius:50%;
	float:left;
	background-color:white;
	text-align:center;
	margin-left:7%;
	margin-bottom:20px;
	border-style:solid;
	border-width:10px;
	border-color: rgba(66,235,89,1);
	/*-webkit-box-shadow: 1px 3px 3px #666666;
	  -moz-box-shadow: 1px 3px 3px #666666;
	  box-shadow: 1px 3px 3px #666666;*/
	color:black;
	transition: background-color: .5s;
	-webkit-transition: border-color .5s;
	-moz-transition: border-color .5s;
}

#lesson-create > p {
/*	margin-top:5px;*/
	margin-left:4px;
	width:132px;
	font-size:1em;
	
}

#lesson-create > span{
	  vertical-align: middle;
	  line-height:30px;
/*	  text-align:center;*/
	  font-size:3em;
	  
}

#kanji-indicator {
	height:140px;
	width:140px;
	border-radius:50%;
	float:left;
	background-color:white;
	text-align:center;
	margin-left:7%;
	margin-bottom:20px;
	border-style:solid;
	border-width:10px;
	border-color: rgba(66,235,89,1);
	/*-webkit-box-shadow: 1px 3px 3px #666666;
	  -moz-box-shadow: 1px 3px 3px #666666;
	  box-shadow: 1px 3px 3px #666666;*/
	color:black;
	transition: background-color: .5s;
	-webkit-transition: border-color .5s;
	-moz-transition: border-color .5s;
}



#kanji-indicator > span{
	  vertical-align: middle;
	  line-height:30px;
/*	  text-align:center;*/
	  font-size:3em;
	  
}
#kanji-indicator > p{
	margin-top:30px;
	  
}


#stat-box-area{
	height:160px;
	width:280px;
	float:left;
	background-color: #61DAF9;
	border-radius:10px;
	margin-left:5%;
}

#stat-box-area .module {
	height:70px;
	width:125px;
/*	margin:5px;*/
	margin-left:10px;
	margin-top:6px;
/*	border-style:solid;*/
	float:left;
	border-radius:5px;
	background-color:#3ED4F9;
}
#stat-box-area .module p {
	font-size:20px;
	font-weight:bold;
	margin:0px;
	margin-top:5px;
	margin-bottom:5px;
	color:white;
}
#stat-box-area .module > span {
	font-size:.8em;
	color: rgba(100,100,100,1);
}





#progress-chart{
	height:auto;
	background-color:white;
	/*background: #086d7f;
	background: -moz-linear-gradient(left, #86e7fc 0%, #ffffff 4%, #ffffff 51%, #ffffff 96%, #86e7fc 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, #086d7f), color-stop(4%, #ffffff), color-stop(51%, #ffffff), color-stop(96%, #ffffff), color-stop(100%, #086d7f));
	background: -webkit-linear-gradient(left, #86e7fc 0%, #ffffff 4%, #ffffff 51%, #ffffff 96%, #86e7fcf 100%);
	background: -o-linear-gradient(left, #86e7fc 0%, #ffffff 4%, #ffffff 51%, #ffffff 96%, #86e7fc 100%);
	background: -ms-linear-gradient(left, #86e7fc 0%, #ffffff 4%, #ffffff 51%, #ffffff 96%, #86e7fc 100%);
	background: linear-gradient(to right, #86e7fc 0%, #ffffff 4%, #ffffff 51%, #ffffff 96%, #86e7fc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#86e7fc', endColorstr='#86e7fc', GradientType=1 );*/
	border-radius:10px;
/*	left:-22px;*/
	width:100%;
}
#progress-chart-inner{
	height:115px;
	background-color:white;
	margin-left:5%;
	width:90%;
/*	border-style:solid;*/
}

.level-indicator{
	width:10%;
	height:100%;
	float:left;
/*	border-style:solid;*/
}


#outercontainer #set-preview{
/*	float:left;*/
	width:1063px;
	height:auto;
	/*margin-left:5%;
	margin-right:5%;*/
	margin:auto;
	margin-top:0px;
	overflow:auto;
	text-align:middle;
/*	border-style:solid;*/
}	


/*#outercontainer #progress-chart{
	height:100px;
	width:80%;
	background-color:white;
};*/


#primary-set-list > p{
	
	font-size:1.8em;
	margin:0px;
	margin-top:20px;
}
.set-list, .overlay, .set-list-no-hover {
	color:grey;
	float:left;
	height:140px;
	width:165px;
	margin-right:10px;
	margin-bottom:10px;
    background-color: #f0f0f0;
    border-width: 1px;
    border-color: #969696;
    border-style: solid;
    border-radius: 5px;
    -webkit-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.75);
	opacity:1;
	z-index:-10;
	
} 

.set-list p {
	opacity:1;
}

#set-description {
	height:40%;
	margin:0px;
}

.set-option{
	width:80%;
	height:15%;
	margin:auto;
	//background-color:grey;
	margin-top:5px;
	border-radius:5px;
}

.set-option:hover{
	background-color:grey;
}

.set-list a {
	color:white;
	text-decoration:none;
}

.overlay{
	color:white;
	background-color:rgba(0,0,0,.9);
	border-color:black;
	//margin:0px;
	box-shadow:none;
	position:absolute;
	opacity:1;
	z-index:100;
	
}

#stats {
/*	float:left;*/
	background-color:grey;
	height:400px;
	width:90%;
	margin:auto;
}


/*Create new set page ---------------------------------------------------------*/

#word-set-nav {
	padding-left:4%;
	height:auto;
	overflow:auto;
	padding-top:3px;
	padding-bottom:3px;
/*	background-color:green;*/
}

/*.manageset-nav {
	float:left;
	width:191px;
	height:40px;
	margin-right:1%;
	background-color:#d2d2d2;
	color:;
	line-height:40px;
	border-radius:5px;
}
*/
.manageset-nav {
	float:left;
	width:160px;
	height:30px;
	margin-right:1%;
	background-color:#d2d2d2;
	color:;
	line-height:30px;
	border-radius:5px;	

	background: #ffffff;
	  background-image: -webkit-linear-gradient(top, #ffffff, #d6d6d6);
	  background-image: -moz-linear-gradient(top, #ffffff, #d6d6d6);
	  background-image: -ms-linear-gradient(top, #ffffff, #d6d6d6);
	  background-image: -o-linear-gradient(top, #ffffff, #d6d6d6);
	  background-image: linear-gradient(to bottom, #ffffff, #d6d6d6);
	  -webkit-border-radius: 11;
	  -moz-border-radius: 11;
	  border-radius: 11px;
	  -webkit-box-shadow: 0px 1px 3px #6c6d6e;
	  -moz-box-shadow: 0px 1px 3px #6c6d6e;
	  box-shadow: 0px 1px 3px #6c6d6e;
	  font-family: Arial;
	  color: #969696;
	  font-size: 20px;
	  padding: 5px 15px 5px 15px;
	  text-decoration: none;
}

.manageset-nav:hover {
	background: #e0e0e0;
	  text-decoration: none;
}

.manageset-nav-selected {
	background: #e0e0e0;
	  text-decoration: none;
	  border-style: solid;
	  border-color:#e65555;
	  border-width:1px;
}

.text-area {
    border: none;
    border-radius: 5px;
	color: #b4b4b4;
	float:left;
	outline:none;
	
}

.left-margin{
	margin-left:5%;
}
#left-form-outer-container{
	width:20%;
	float:left;
	margin-left:5%;
/*	border-style:solid;*/
	height:100%;
/*	position:fixed;*/
}
#left-form{
	width:20%;
	float:left;
/*	border-style:solid;*/
	/*margin-left:0px;*/
	position:fixed;
}

#create-set-description, #set-title{
	margin-left:0px;
	width:100%;
	padding-left:10px;
}

#set-title{
	height:40px;
	font-size:1.7em;
	margin-bottom:5px;
}

#create-set-button{
	float:left;
	height:40px;
	width:100%;
	margin-left:0px;
	background-color:rgba(230,85,85,1);
	border-radius:5px;
	outline:none;
	color:white;
	border-color:rgba(134, 231, 252, 1);
	border-style:solid;
	font-size:1.5em;
	cursor:pointer;
}

#create-set-button:hover{
	background-color:rgba(250,105,105,1);
}

#create-set-description{
	height:50px;
	padding:0px;
	padding-left:10px;
	resize:none;
		
}

#wordlist-new {
	/*background-color:grey;
	border-style:solid;
	border-radius:5px;
	margin-top:10px;*/
	height:200px;
}

#wordlist-know {
	height: 200px;
	overflow: auto;
	/*-webkit-box-shadow: inset 0px -8px 3px 0px rgba(250,247,250,1);
	-moz-box-shadow: inset 0px -8px 3px 0px rgba(250,247,250,1);
	box-shadow: inset 0px -8px 3px 0px rgba(250,247,250,1);*/
}

#search-area{
	float:left;
	height:50px;
	width:67%;
	margin-left:20px;
	//border-style:solid;
}

#search-area input[type = "button"]{
	float:left;
	width:100px;
	height:25px;
	margin-left:5px;
	background-color:rgba(200,200,200,1);
	border-radius:3px;
	outline:none;
	padding:0px;
	color:rgba(100,100,100,1);
	//border-style:solid;
	border:none;
	cursor:pointer;
}

#searchbox{
	width:50%;
	height:20px;
	margin-top:5px;
	margin-left:5%;
	padding-left:5px;
	font-size:1em;
}

#search-area #start-search{
	height:20px;
	margin-top:5px;
	background-color:;
	//color:blue;
}

.undo{
	height:153px;
	width:153px;
	position:absolute;
	top:0px;
	right:-2px;
	line-height:150px;
	visibility:hidden;
	cursor:pointer;
	border-radius:5px;
	font-size:2em;
	text-shadow: 0px -1px 0px rgba(0,0,0,.5);
	/*background-color:rgba(0,0,0,.5);*/
	background-color:rgba(200,200,200,.7);
	color:rgba(200,200,200,.7);
}

.answerbox {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;
  background-color: #86e7fc;
  margin-top: 12px;
  //line-height: 160px;
  float: left; }

.answerbox2 .flipper,
.answerbox2 .flipper {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg); }

.answerbox {
  margin-right: 10px;
  width: 150px;
  height: 150px; }

.flipper {
  -webkit-transition: 0.2s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: 0.2s;
  -moz-transform-style: preserve-3d;
  -o-transition: 0.2s;
  -o-transform-style: preserve-3d;
  transition: 0.2s;
  transform-style: preserve-3d; }

.front,  .back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: #f0f0f0;
  border-width: 1px;
  border-color: #969696;
  border-style: solid;
  border-radius: 5px;
  -webkit-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.75);
  font-size: 1em;
  float: left;
  width: 150px;
  height: 150px;
/*  line-height: 150px;*/
  color: black;
  text-align: center; }
  
  .mini {
	  height:50px;
	  width:50px;
	  font-size:.5em;
	  cursor:pointer;
  }
  
  #red-ex {
	  font-size:10em;
	  position:absolute;
	  margin-left:27%;
	  line-height:50px;
	  color:rgba(230, 85, 85, 1);
	  display:none;
  }
  
 /*.front:hover {
	 -webkit-box-shadow: 1px 0px 23px 3px rgba(230,85,85,1);
	 -moz-box-shadow: 1px 0px 23px 3px rgba(230,85,85,1);
	 box-shadow: 1px 0px 23px 3px rgba(230,85,85,1);
 } */
 
 .outline {
	 -webkit-box-shadow: 3px 3px 3px 0px rgba(230,85,85,1);
	 -moz-box-shadow: 3px 3px 3px 0px rgba(230,85,85,1);
	 box-shadow: 3px 3px 3px 0px rgba(230,85,85,1);
	 
 }
 
 .outline-2 {
	 -webkit-box-shadow: 3px 3px 3px 0px rgba(23,83,235,1);
	 -moz-box-shadow: 3px 3px 3px 0px rgba(23,83,235,1);
	 box-shadow: 3px 3px 3px 0px rgba(23,83,235,1);
 } 
  
  .back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  position: absolute; }
  
  #container{
	  width:70%;
	  margin-top:10px;
	  float:left;
	  margin-left:4%;
	 /* margin-left:5%;
	  margin-right:5%;*/
  }

  #container #kanji{
	  font-size:1.8em;
	
  }
  
  #container #meaning{
	  font-size:.9em;
	
  }
  
  
  #container #grade{
	  margin-top:10px;
	  margin-bottom:10px;
	
  }
  
  .add-remove{
	  height:20%;
	  width:45%;
	  cursor:pointer;
  	
  }

.special-kanji-switch{
	background-color:rgba(220,220,220,1);
	color:rgba(240,240,240,1);
	border-radius:10px;
	position:absolute;
	top:7px;
	right:7px;
	cursor:pointer;
	border-style:none;
	outline:0;
}

.selected-kanji {
	background-color:rgba(66,235,89,1);
}


/*.special-kanji-switch:hover{
	background-color:rgba(66,235,89,1);
/*	color:rgba(66,235,89,1);*/

}*/
	  
	  


  ::-webkit-input-placeholder {
     color: rgba(230,230,230,1);
  }

  :-moz-placeholder { /* Firefox 18- */
     color: rgba(240,240,240,1);  
  }

  ::-moz-placeholder {  /* Firefox 19+ */
     color: rgba(240,240,240,1);  
  }

  :-ms-input-placeholder {  
     color: rgba(240,240,240,1);  
  }
	  
	  
	  
	  

footer {
  width: 100%;
  height: 80px;
  background-color: white;
  color: black; }
  footer #footermain {
    width: 95%;
    height: 70px;
    border-top: 2px solid #eaeaea;
    margin: auto;
    padding-left: 5%; }
