{% extends 'overall_site_temp.html' %}
{% load staticfiles %}
{% block pagetitle %}Profile{% endblock %}

{% block content %}

	
		<!-- <div id = "unanswered" class = "sidebar">
			<div class = "preview">neko</div>
			<div class = "preview">neko</div>
		</div> -->
	
		<div id = "middle">
			<br/>
			<div id = "scoreholder">
		
				<div class = "scorebox">
					<div class = "title">Remaining</div>
					<div id = "highscore" class = "score">0</div>
				</div>
		
				<div class = "scorebox right">
					<div class = "title">Trouble Words</div>
					<div id = "currentscore" class = "score">0</div>
				</div>
		
			</div>
		<div id = "center">
			<div id = "cardhold1" class = "cardhold">	
				<div id = "word1" class = "answerbox mini left">
					<div class = "flipper">
						<div id = "front1"class = "front mini2"></div>
						<div id = "back1" class = "back mini2"></div>
					</div>
				</div>
		    </div>
			<div id = "cardhold2" class = "cardhold">	
				<div id = "word0" class = "answerbox left">
					<div class = "flipper">
						<div id = "front0" class = "front"></div>
						<div id = "back0" class = "back"></div>
					</div>
				</div>
			</div>	
				
				<!-- <div class = "answerbox mini left">
					<div class = "flipper">
						<div class = "front mini2"></div>
						<div class = "back mini2"></div>
					</div>
				</div> -->
				
		</div>
			
			
				<br style = "clear:both;"/>
			<input type = "text" id = "answerinput" autofocus></input>
			<!-- <div id = "result">X</div> -->
		</div>
	
		<!-- <div id = "answered" class = "sidebar"></div> -->
		
		
		
		
			
{% endblock %}

{% block scripts %}

<script>
var vocab = [];

{% for word in words %}

vocab.push({
	word: '{{ word.real_word }}',
	hiragana: '{{ word.hiragana }}',
	meaning: '{{ word.meaning}}'
	});

{% endfor %}

</script>

<script src = "{% static 'flashcard/practicecard.js' %}"></script>
{% endblock %}		