{% extends 'overall_site_temp.html' %}
{% load staticfiles %}
{% block pagetitle %}Profile{% endblock %}



{% block content %}
<a id = 'home-button' href = '/'><div>Home</div></a>
<div id = "end-of-practice">
	<div id = "words-added-message">
		Awesome you've just added <span id = "words-added-count"></span> words to your review queue!
		</div>
	<a href = '/'><div id = "back-to-profile-button">Back to profile</div></a>
		
</div>
	<input id = "set-name" type = "hidden" value = "{{ set_name }}">
	<input id = "user-name" type = "hidden" value = "{{ full_name }}">
	<div id = "set-name-title">{{ set_name }}</div>
		<!-- <div id = "unanswered" class = "sidebar">
			<div class = "preview">neko</div>
			<div class = "preview">neko</div>
		</div> -->
	
		<div id = "middle">
			<br/>
			<div id = "scoreholder">

				<div class = "scorebox">
					<div class = "title">Remaining</div>
					<div id = "highscore" class = "score">0</div>
				</div>

				

			</div>
		<div id = "center">
			<!-- <div id = "cardhold1" class = "cardhold">
				<div id = "word1" class = "answerbox mini left">
					<div class = "flipper">
						<div id = "front1"class = "front mini2"></div>
						<div id = "back1" class = "back mini2"></div>
					</div>
				</div>
		    </div>
			<div id = "cardhold2" class = "cardhold">
				<div id = "word0" class = "answerbox left">
					<div class = "flipper">
						<div id = "front0" class = "front"></div>
						<div id = "back0" class = "back"></div>
					</div>
				</div>
			</div> -->



		</div>
			
			
				<br style = "clear:both;"/>
				<!-- <input autocapitalize="off" autocomplete="off" autocorrect="off" id="user-response" name="user-response" placeholder="答え" type="text" lang="ja"> -->
			<input type = "text" id = "answerinput"　lang = "ja" placeholder = "ひらがな" autofocus></input>
			<!-- <div id = "result">X</div> -->
		</div>
	</br>
		<!-- <div id = "answered" class = "sidebar"></div> -->
		<div class = "word-info-box">
			<div class = "left-box">
				<div class = "inner-info-box">
					<div class = "title">Reading</div>
					<div id = "word-reading"class = "information">ひらがな</div>
				</div>
				<div class = "inner-info-box">
					<div class = "title">Part of Speech</div>
					<div id = "word-pos" class = "information">na-adjective,<br> suru verb,<br> and something else</div>
				</div>
				<div class = "inner-info-box" >
					<div class = "title">Kanji</div>
					<div class = "kanji-info">
						
					</div>
				</div>
			</div>
			
			<div class = "word-defintions">
				<div class = "title">Definitions</div>
				<div class = "list-definitions">
					<ol>
						<li>If you see this</li>
						<li>Its an error </li>
						<li>Please send us an email</li>
					</ol>
				</div>	
			</div>
		</div>
		
		
		
			
{% endblock %}

{% block scripts %}

<script>
var vocab = [];


// var kanjiss = JSON.stringify({{kanji_names}});
//
// var kanjis = {{kanji_names | safe}}


{% for word in words %}
var kanjis = [];
vocab.push({
	//I need to fix this so it works under all circumstances, both practice and reviews
	word: '{{ word.real_word }}',
	hiragana: '{{ word.hiragana }}',
	meaning: '{{ word.meaning}}',
	know_word_object_id: {{ word.id }},
	kanjis: [{% for kanji in word.kanji.all %}'{{ kanji.kanji_name }}',{% endfor %}],
	kanji_meanings: [{% for kanji in word.kanji.all %}'{{ kanji.kanji_meaning }}',{% endfor %}],
	definitions: [{% for defs in word.wordmeanings_set.all reversed %}'{{defs.meaning}}',{% endfor %}],
	part_of_speech: [{% for pos in word.wordpos_set.all reversed %}'{{pos.pos}}',{% endfor %}]
	});

{% endfor %}

</script>

<script src = "{% static 'flashcard/practicecard.js' %}"></script>
<script src = "{% static 'flashcard/wanakana.min.js' %}"></script>
<script>
//binds IME to answer input
(function(wk) {
				
				inputIME = document.getElementById('answerinput');

				wk.bind(inputIME);
	
				}
			)(window.wanakana);
</script>
{% endblock %}		