.landing-page header {
  padding-top: 45px;
  margin-bottom: 40px; }
  .landing-page header .logo-block {
    float: left;
    padding-left: 55px; }
    @media screen and (max-width: 425px) {
      .landing-page header .logo-block {
        padding-left: 0; } }
    .landing-page header .logo-block .logo {
      width: 249px; }
      @media screen and (max-width: 768px) {
        .landing-page header .logo-block .logo {
          width: 228px; } }
      @media screen and (max-width: 425px) {
        .landing-page header .logo-block .logo {
          width: 115px; } }
  .landing-page header .login-block {
    float: right;
    padding-right: 68px; }
    @media screen and (max-width: 425px) {
      .landing-page header .login-block {
        padding-right: 0; } }
    .landing-page header .login-block .login-btn {
      background-color: #00D49C;
      color: #fff;
      font-size: 29px;
      font-weight: 700;
      padding: 8px 46px 8px 45px;
      border-radius: 9px; }
      @media screen and (max-width: 768px) {
        .landing-page header .login-block .login-btn {
          font-size: 24px; } }
      @media screen and (max-width: 425px) {
        .landing-page header .login-block .login-btn {
          font-size: 12px;
          font-weight: bold; } }

.landing-page .welcome-block {
  padding-top: 50px;
  background-image: url(../img/welcome-block-background-3.png);
  -webkit-background-size: cover;
  background-size: cover;
  box-shadow: 0 4px 2px #9da6a2;
  margin-bottom: 50px;
  position: relative; }
  .landing-page .welcome-block:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-top-color: #72d4a6;
    border-width: 50px;
    margin-left: -50px; }
    @media screen and (max-width: 1200px) {
      .landing-page .welcome-block:before {
        display: none; } }
  .landing-page .welcome-block .main {
    padding-left: 70px; }
    @media screen and (max-width: 768px) {
      .landing-page .welcome-block .main {
        padding-left: 55px; } }
    @media screen and (max-width: 425px) {
      .landing-page .welcome-block .main {
        padding-left: 0; } }
  .landing-page .welcome-block .site-heading {
    font-size: 90px;
    color: #ffffff;
    width: 80%;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 40px; }
    @media screen and (max-width: 1024px) {
      .landing-page .welcome-block .site-heading {
        font-size: 80px;
        width: 100%; } }
    @media screen and (max-width: 768px) {
      .landing-page .welcome-block .site-heading {
        font-size: 68px;
        width: 100%; } }
    @media screen and (max-width: 750px) {
      .landing-page .welcome-block .site-heading {
        font-size: 64px; } }
    @media screen and (max-width: 425px) {
      .landing-page .welcome-block .site-heading {
        font-size: 34px;
        width: 100%; } }
  .landing-page .welcome-block .site-subheading {
    font-size: 32px;
    color: #cffbe2;
    margin-top: 0;
    margin-bottom: 25px; }
    @media screen and (max-width: 768px) {
      .landing-page .welcome-block .site-subheading {
        font-size: 48px;
        margin-bottom: 40px; } }
    @media screen and (max-width: 750px) {
      .landing-page .welcome-block .site-subheading {
        font-size: 43px; } }
    @media screen and (max-width: 425px) {
      .landing-page .welcome-block .site-subheading {
        font-size: 24px;
        width: 90%; } }
  .landing-page .welcome-block .get-trial-block {
    float: left;
    background-color: #FF887A;
    padding: 15px;
    border-radius: 17px;
    box-shadow: 0 4px 2px #9da6a2;
    margin-bottom: 82px;
    margin-left: 70px; }
    @media screen and (max-width: 768px) {
      .landing-page .welcome-block .get-trial-block {
        display: table;
        margin: auto;
        margin-bottom: 40px;
        float: none; } }
    @media screen and (max-width: 425px) {
      .landing-page .welcome-block .get-trial-block {
        margin-bottom: 80px; } }
    .landing-page .welcome-block .get-trial-block .get-trial-btn {
      background-color: #F72449;
      color: #ffffff;
      font-size: 24px;
      padding: 10px 57px 9px 57px;
      border-radius: 12px; }
      @media screen and (max-width: 768px) {
        .landing-page .welcome-block .get-trial-block .get-trial-btn {
          font-size: 34px; } }
      @media screen and (max-width: 425px) {
        .landing-page .welcome-block .get-trial-block .get-trial-btn {
          font-size: 14px; } }
  .landing-page .welcome-block .find-more {
    width: 100%;
    float: left;
    text-align: center;
    color: #cffbe2;
    font-size: 20px;
    margin-bottom: 40px;
    margin-top: 0; }
    @media screen and (max-width: 768px) {
      .landing-page .welcome-block .find-more {
        font-size: 25px; } }
    @media screen and (max-width: 425px) {
      .landing-page .welcome-block .find-more {
        font-size: 12px; } }

.landing-page .block-heading {
  font-size: 55px;
  text-align: center;
  font-weight: 700;
  margin-top: 0; }
  @media screen and (max-width: 768px) {
    .landing-page .block-heading {
      font-size: 40px; } }
  @media screen and (max-width: 425px) {
    .landing-page .block-heading {
      font-size: 20px; } }
.landing-page .why-us {
  margin-top: 100px;
  position: relative;
  z-index: 2; }
  @media screen and (max-width: 425px) {
    .landing-page .why-us {
      margin-top: 0; } }
  .landing-page .why-us:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-top-color: #ffffff;
    border-width: 50px;
    margin-left: -50px;
    margin-top: -1px; }
    @media screen and (max-width: 1200px) {
      .landing-page .why-us:before {
        margin-top: -1px; } }
  .landing-page .why-us .block-heading {
    color: #00D49C;
    margin-bottom: 45px; }
  .landing-page .why-us .block-subheading {
    font-size: 18px;
    line-height: 36px;
    text-align: center; }
    @media screen and (max-width: 768px) {
      .landing-page .why-us .block-subheading {
        font-size: 25px;
        line-height: 50px; } }
    @media screen and (max-width: 425px) {
      .landing-page .why-us .block-subheading {
        font-size: 12px;
        line-height: 24px; } }
  .landing-page .why-us .explanation {
    margin-top: 95px;
    margin-bottom: 168px; }
  .landing-page .why-us .one-item {
    border-radius: 20px;
    box-shadow: 2px 5px 10px #9da6a2;
    margin-bottom: 45px;
    padding: 25px 70px 25px 54px; }
    @media screen and (max-width: 1024px) {
      .landing-page .why-us .one-item {
        padding-left: 20px;
        padding-right: 20px; } }
    @media screen and (max-width: 768px) {
      .landing-page .why-us .one-item {
        padding-left: 20px;
        padding-right: 20px; } }
    .landing-page .why-us .one-item .icon-block {
      width: 40%;
      float: left; }
      .landing-page .why-us .one-item .icon-block .icon {
        max-width: 100%; }
        @media screen and (max-width: 768px) {
          .landing-page .why-us .one-item .icon-block .icon {
            max-width: 87%; } }
      @media screen and (max-width: 425px) {
        .landing-page .why-us .one-item .icon-block {
          margin-top: 4%; }
          .landing-page .why-us .one-item .icon-block.upper {
            margin-top: 0; } }
      @media screen and (max-width: 320px) {
        .landing-page .why-us .one-item .icon-block {
          margin-top: 20%; }
          .landing-page .why-us .one-item .icon-block.upper {
            margin-top: 12%; } }
    .landing-page .why-us .one-item .text-block {
      margin-top: 29px;
      width: 60%;
      float: right; }
      @media screen and (max-width: 1200px) {
        .landing-page .why-us .one-item .text-block {
          margin-top: 0; } }
      @media screen and (max-width: 1074px) {
        .landing-page .why-us .one-item .text-block {
          margin-top: 0; } }
      .landing-page .why-us .one-item .text-block.lower {
        margin-top: 60px; }
        @media screen and (max-width: 1366px) {
          .landing-page .why-us .one-item .text-block.lower {
            margin-top: 41px; } }
        @media screen and (max-width: 1200px) {
          .landing-page .why-us .one-item .text-block.lower {
            margin-top: 14px; } }
        @media screen and (max-width: 1074px) {
          .landing-page .why-us .one-item .text-block.lower {
            margin-top: 0px; } }
        @media screen and (max-width: 768px) {
          .landing-page .why-us .one-item .text-block.lower {
            margin-top: 5px; } }
        @media screen and (max-width: 425px) {
          .landing-page .why-us .one-item .text-block.lower {
            margin-top: 16px; } }
        @media screen and (max-width: 375px) {
          .landing-page .why-us .one-item .text-block.lower {
            margin-top: 5px; } }
      @media screen and (max-width: 1200px) {
        .landing-page .why-us .one-item .text-block.last {
          margin-top: 29px; } }
      @media screen and (min-width: 768px) and (max-width: 1074px) {
        .landing-page .why-us .one-item .text-block.last {
          margin-top: 27px; } }
      @media screen and (max-width: 425px) {
        .landing-page .why-us .one-item .text-block.last {
          margin-top: 16px; } }
      .landing-page .why-us .one-item .text-block .heading {
        color: #00D49C;
        font-size: 26px;
        font-weight: bold;
        width: 80%;
        float: left; }
        @media screen and (max-width: 1366px) {
          .landing-page .why-us .one-item .text-block .heading {
            font-size: 23px;
            width: 100%; } }
        @media screen and (max-width: 1200px) {
          .landing-page .why-us .one-item .text-block .heading {
            font-size: 23px;
            width: 100%; } }
        @media screen and (max-width: 1074px) {
          .landing-page .why-us .one-item .text-block .heading {
            width: 100%; } }
        @media screen and (max-width: 768px) {
          .landing-page .why-us .one-item .text-block .heading {
            font-size: 30px; } }
        @media screen and (max-width: 750px) {
          .landing-page .why-us .one-item .text-block .heading {
            font-size: 25px; } }
        @media screen and (max-width: 425px) {
          .landing-page .why-us .one-item .text-block .heading {
            font-size: 15px;
            margin-top: 0; } }
        @media screen and (max-width: 425px) {
          .landing-page .why-us .one-item .text-block .heading {
            font-size: 14px; } }
      .landing-page .why-us .one-item .text-block .text {
        font-size: 18px;
        width: 100%;
        float: left; }
        @media screen and (max-width: 1366px) {
          .landing-page .why-us .one-item .text-block .text {
            font-size: 16px; } }
        @media screen and (max-width: 1074px) {
          .landing-page .why-us .one-item .text-block .text {
            font-size: 16px; } }
        @media screen and (max-width: 768px) {
          .landing-page .why-us .one-item .text-block .text {
            font-size: 20px; } }
        @media screen and (max-width: 425px) {
          .landing-page .why-us .one-item .text-block .text {
            font-size: 10px; } }
    .landing-page .why-us .one-item.second .icon-block {
      float: right; }
      @media screen and (max-width: 750px) {
        .landing-page .why-us .one-item.second .icon-block {
          float: left; } }
    .landing-page .why-us .one-item.second .text-block {
      float: left;
      text-align: right; }
      @media screen and (max-width: 750px) {
        .landing-page .why-us .one-item.second .text-block {
          float: right;
          text-align: left; } }
      .landing-page .why-us .one-item.second .text-block .heading {
        float: right; }
        @media screen and (max-width: 750px) {
          .landing-page .why-us .one-item.second .text-block .heading {
            float: left; } }
      .landing-page .why-us .one-item.second .text-block .text {
        float: right;
        width: 88%; }
        @media screen and (max-width: 1200px) {
          .landing-page .why-us .one-item.second .text-block .text {
            width: 100%; } }
        @media screen and (max-width: 1074px) {
          .landing-page .why-us .one-item.second .text-block .text {
            width: 100%; } }
        @media screen and (max-width: 750px) {
          .landing-page .why-us .one-item.second .text-block .text {
            text-align: left;
            float: left; } }

.is-it-for-you {
  background-color: #00D49C;
  padding-top: 110px;
  padding-bottom: 150px;
  color: #fff;
  position: relative; }
  @media screen and (max-width: 768px) {
    .is-it-for-you {
      padding-bottom: 100px; } }
  @media screen and (max-width: 425px) {
    .is-it-for-you {
      padding-bottom: 40px; } }
  .is-it-for-you:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-top-color: #00D49C;
    border-width: 50px;
    margin-left: -50px; }
  .is-it-for-you .block-heading {
    margin-bottom: 84px; }
  .is-it-for-you .pros-cons-heading {
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 30px; }
    @media screen and (max-width: 768px) {
      .is-it-for-you .pros-cons-heading {
        font-size: 30px; } }
    @media screen and (max-width: 425px) {
      .is-it-for-you .pros-cons-heading {
        font-size: 20px; } }
  .is-it-for-you .pros {
    margin-bottom: 115px; }
    @media screen and (max-width: 425px) {
      .is-it-for-you .pros {
        margin-bottom: 40px; } }
  .is-it-for-you .list {
    list-style: none;
    padding-left: 0; }
    .is-it-for-you .list li {
      font-size: 22px;
      margin-bottom: 15px;
      position: relative;
      display: flex;
      font-weight: 200; }
      @media screen and (max-width: 425px) {
        .is-it-for-you .list li {
          font-size: 16px; } }
      .is-it-for-you .list li:before {
        content: url(../img/list-point.png);
        margin-right: 30px;
        margin-top: 4px; }
      @media screen and (max-width: 425px) {
        .is-it-for-you .list li br {
          display: none; } }

.landing-page .offer {
  padding-top: 115px;
  padding-bottom: 121px;
  position: relative;
  z-index: 2; }
  @media screen and (max-width: 768px) {
    .landing-page .offer {
      padding-bottom: 0; } }
  .landing-page .offer:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-top-color: #fff;
    border-width: 50px;
    margin-left: -50px; }
    @media screen and (max-width: 1200px) {
      .landing-page .offer:before {
        margin-top: -1px; } }
  .landing-page .offer .block-heading {
    color: #00D49C;
    margin-bottom: 120px; }
    @media screen and (max-width: 425px) {
      .landing-page .offer .block-heading {
        margin-bottom: 40px; } }
  .landing-page .offer .container {
    padding-left: 18.5px;
    padding-right: 18.5px; }
  .landing-page .offer .one-item {
    width: 30%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    border-radius: 20px;
    box-shadow: 1px 1px 10px #9da6a2;
    margin-bottom: 95px;
    padding-top: 0px;
    padding-bottom: 50px;
    height: 494px; }
    @media screen and (max-width: 768px) {
      .landing-page .offer .one-item {
        width: 48%;
        margin-left: 1%;
        margin-right: 1%; } }
    @media screen and (max-width: 425px) {
      .landing-page .offer .one-item {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 20px; } }
    .landing-page .offer .one-item .text-block {
      text-align: center;
      font-size: 22px; }
      @media screen and (max-width: 768px) {
        .landing-page .offer .one-item .text-block {
          font-size: 20px; } }

.landing-page .cta-block {
  background-image: url(../img/cta-background.png);
  -webkit-background-size: cover;
  background-size: cover;
  box-shadow: 0 4px 2px #9da6a2;
  padding-top: 152px;
  padding-bottom: 105px;
  text-align: center;
  margin-bottom: 209px; }
  @media screen and (max-width: 768px) {
    .landing-page .cta-block {
      margin-bottom: 50px; } }
  @media screen and (max-width: 425px) {
    .landing-page .cta-block {
      margin-bottom: 40px;
      padding-bottom: 40px; } }
  .landing-page .cta-block .cta-heading {
    font-size: 90px;
    font-weight: bold;
    color: #fff;
    margin-top: 0;
    margin-bottom: 30px; }
    @media screen and (max-width: 768px) {
      .landing-page .cta-block .cta-heading {
        font-size: 46px;
        color: #333333;
        text-align: left;
        padding-left: 90px; } }
    @media screen and (max-width: 425px) {
      .landing-page .cta-block .cta-heading {
        font-size: 22px;
        padding-left: 20px; } }
  .landing-page .cta-block .cta-subheading {
    font-size: 32px;
    color: #cffbe2;
    margin-top: 0;
    margin-bottom: 45px; }
    @media screen and (max-width: 768px) {
      .landing-page .cta-block .cta-subheading {
        font-size: 30px;
        color: #333333;
        text-align: left;
        padding-left: 90px; } }
    @media screen and (max-width: 425px) {
      .landing-page .cta-block .cta-subheading {
        font-size: 16px;
        padding-left: 20px; } }
  .landing-page .cta-block .cta-btn-block {
    display: table;
    margin: auto;
    background-color: #FF887A;
    padding: 15px;
    border-radius: 17px;
    box-shadow: 0 4px 2px #9da6a2;
    margin-bottom: 10px; }
    .landing-page .cta-block .cta-btn-block .cta-btn {
      background-color: #F72449;
      color: #fff;
      font-size: 32px;
      font-weight: bold;
      padding: 23px 53px;
      border-radius: 12px; }
      @media screen and (max-width: 425px) {
        .landing-page .cta-block .cta-btn-block .cta-btn {
          font-size: 16px;
          padding: 16px 40px; } }
  .landing-page .cta-block .btn-support-text {
    font-size: 20px;
    color: #cffbe2;
    margin-top: 0; }
    @media screen and (max-width: 425px) {
      .landing-page .cta-block .btn-support-text {
        font-size: 10px; } }

.landing-page .about-block {
  padding-bottom: 145px; }
  @media screen and (max-width: 425px) {
    .landing-page .about-block {
      padding-bottom: 40px; } }
  .landing-page .about-block .block-heading {
    color: #00D49C;
    margin-bottom: 50px; }
  .landing-page .about-block .about-text {
    margin-bottom: 65px; }
    .landing-page .about-block .about-text .text {
      font-size: 18px;
      margin-top: 0;
      margin-bottom: 22px; }
      @media screen and (max-width: 768px) {
        .landing-page .about-block .about-text .text {
          font-size: 22px; } }
      @media screen and (max-width: 425px) {
        .landing-page .about-block .about-text .text {
          font-size: 16px; } }
  .landing-page .about-block .who-block .author {
    margin-bottom: 40px; }
    .landing-page .about-block .who-block .author .photo-block {
      float: left; }
      .landing-page .about-block .who-block .author .photo-block img {
        max-width: 200px;
        border-radius: 50%; }
        @media screen and (max-width: 1200px) {
          .landing-page .about-block .who-block .author .photo-block img {
            max-width: 100%; } }
    .landing-page .about-block .who-block .author .text-block {
      float: right; }
      .landing-page .about-block .who-block .author .text-block .heading {
        font-size: 18px;
        font-weight: bold; }
        @media screen and (max-width: 768px) {
          .landing-page .about-block .who-block .author .text-block .heading {
            font-size: 22px; } }
        @media screen and (max-width: 425px) {
          .landing-page .about-block .who-block .author .text-block .heading {
            font-size: 12px; } }
      .landing-page .about-block .who-block .author .text-block .subheading {
        font-size: 18px; }
        @media screen and (max-width: 1090px) {
          .landing-page .about-block .who-block .author .text-block .subheading {
            font-size: 16px; } }
        @media screen and (max-width: 768px) {
          .landing-page .about-block .who-block .author .text-block .subheading {
            font-size: 22px; } }
        @media screen and (max-width: 425px) {
          .landing-page .about-block .who-block .author .text-block .subheading {
            font-size: 12px; } }
  .landing-page .about-block .who-block .koala .photo-block {
    float: right; }
    .landing-page .about-block .who-block .koala .photo-block img {
      max-width: 231px; }
      @media screen and (max-width: 1200px) {
        .landing-page .about-block .who-block .koala .photo-block img {
          max-width: 100%; } }
  .landing-page .about-block .who-block .koala .text-block {
    float: left;
    text-align: right;
    margin-top: 109px; }
    @media screen and (max-width: 1200px) {
      .landing-page .about-block .who-block .koala .text-block {
        margin-top: 70px; } }
    @media screen and (max-width: 768px) {
      .landing-page .about-block .who-block .koala .text-block {
        margin-top: 34px; } }
    @media screen and (max-width: 425px) {
      .landing-page .about-block .who-block .koala .text-block {
        margin-top: 0; } }
    .landing-page .about-block .who-block .koala .text-block .heading {
      font-size: 18px;
      font-weight: bold; }
      @media screen and (max-width: 768px) {
        .landing-page .about-block .who-block .koala .text-block .heading {
          font-size: 22px; } }
      @media screen and (max-width: 425px) {
        .landing-page .about-block .who-block .koala .text-block .heading {
          font-size: 12px; } }
    .landing-page .about-block .who-block .koala .text-block .subheading {
      font-size: 18px; }
      @media screen and (max-width: 1090px) {
        .landing-page .about-block .who-block .koala .text-block .subheading {
          font-size: 16px; } }
      @media screen and (max-width: 768px) {
        .landing-page .about-block .who-block .koala .text-block .subheading {
          font-size: 22px; } }
      @media screen and (max-width: 425px) {
        .landing-page .about-block .who-block .koala .text-block .subheading {
          font-size: 12px; } }

.landing-page footer {
  background-color: #333333;
  color: #fff;
  padding-top: 75px;
  padding-bottom: 45px;
  float: left;
  width: 100%; }
  .landing-page footer .nav-block {
    float: left; }
    .landing-page footer .nav-block ul {
      padding-left: 0;
      list-style: none;
      font-size: 20px; }
      @media screen and (max-width: 425px) {
        .landing-page footer .nav-block ul {
          font-size: 10px; } }
      .landing-page footer .nav-block ul li {
        margin-bottom: 12px; }
      .landing-page footer .nav-block ul a {
        text-decoration: none;
        color: #fff; }
        .landing-page footer .nav-block ul a:hover, .landing-page footer .nav-block ul a:focus {
          color: #fff;
          text-decoration: none;
          cursor: pointer; }
  .landing-page footer .btns-block {
    float: right; }
    @media screen and (max-width: 425px) {
      .landing-page footer .btns-block {
        width: 50%; } }
    .landing-page footer .btns-block .sing-in-btn-block {
      background-color: #A4E1B6;
      padding: 7px;
      border-radius: 17px;
      margin-bottom: 82px;
      float: left;
      margin-right: 60px; }
      @media screen and (max-width: 768px) {
        .landing-page footer .btns-block .sing-in-btn-block {
          float: none;
          margin-bottom: 40px; } }
      @media screen and (max-width: 425px) {
        .landing-page footer .btns-block .sing-in-btn-block {
          margin-bottom: 20px;
          float: right;
          margin-right: 0; } }
      .landing-page footer .btns-block .sing-in-btn-block .sign-in-btn {
        background-color: #00D49C;
        color: #fff;
        font-size: 21px;
        font-weight: bold;
        padding: 13px 27px;
        border-radius: 12px; }
        @media screen and (max-width: 425px) {
          .landing-page footer .btns-block .sing-in-btn-block .sign-in-btn {
            font-size: 12px;
            padding: 9px 32px; } }
    .landing-page footer .btns-block .sing-up-btn-block {
      background-color: #FF887A;
      padding: 7px;
      border-radius: 17px;
      margin-bottom: 82px;
      float: right; }
      @media screen and (max-width: 768px) {
        .landing-page footer .btns-block .sing-up-btn-block {
          float: left;
          margin-bottom: 40px; } }
      @media screen and (max-width: 425px) {
        .landing-page footer .btns-block .sing-up-btn-block {
          float: right; } }
      .landing-page footer .btns-block .sing-up-btn-block .sign-up-btn {
        background-color: #F72449;
        color: #fff;
        font-size: 21px;
        font-weight: bold;
        padding: 13px 27px;
        border-radius: 12px; }
        @media screen and (max-width: 425px) {
          .landing-page footer .btns-block .sing-up-btn-block .sign-up-btn {
            font-size: 12px;
            padding: 9px 32px; } }
  .landing-page footer .socials {
    width: 100%;
    float: left;
    margin-top: 60px;
    margin-bottom: 20px; }
    .landing-page footer .socials .icons {
      display: table;
      margin: auto; }
      .landing-page footer .socials .icons .fb {
        margin-right: 25px; }
  .landing-page footer .copyright-block {
    float: left;
    width: 100%;
    text-align: center; }
    .landing-page footer .copyright-block .terms {
      color: #fff; }
      .landing-page footer .copyright-block .terms:hover, .landing-page footer .copyright-block .terms:active {
        text-decoration: none;
        color: #fff;
        cursor: pointer; }
    .landing-page footer .copyright-block .copy {
      margin-top: 15px; }

.landing-page {
  font-family: 'Noto Sans', sans-serif; }
  .landing-page .italic {
    font-style: italic; }

/*# sourceMappingURL=style.css.map */
