.main {
    margin-top: 0px;
}

col-md-4, .col-md-4 {
  position: relative;
  min-height: 1px;
  padding-bottom: 5px;
  padding-top: 5px;
  /*padding-left: 3000px;
  margin-left: -3000px;
  padding-right: 3000px;
  margin-right: -3000px;*/
  background-color: #19befa;
  /*background-color: rgba(86,61,124,.15);*/
  border: 5px solid black;
  /*border: 3px solid rgba(86,61,124.2);*/
}

section-titles-font, .section-titles-font {
  font-size: 26px;
  text-decoration: underline;
  text-decoration: bold;
}
 
rank-1-font, .rank-2-font {
    font-size: 22 px;
}
rank-2-font, .rank-2-font {
    font-size: 20 px;
}
rank-3-font, .rank-3-font {
    font-size: 18 px;
}
rank-4-font, .rank-4-font {
    font-size: 16 px;
}
rank-5-font, .rank-5-font {
    font-size: 14 px;
}
rank-6-and-lower-font, .rank-6-and-lower-font {
    font-size: 12 px;
}