{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'homepage/stylesheet.css' %}">
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script src = "{% static 'homepage/jquery-2.0.3.min.js' %}"></script>
<script src = "{% static 'homepage/jquery.cookie.js' %}"></script>
<title>Kanji Corner - {% block pagetitle %}{% endblock %}</title>



</head>

<body>

{% block header%}{% endblock %}
	
	

<div id = "outercontainer">
	{% block content %}{% endblock %}
	
	
	
</div>

<br style = "clear:both"/>



{% block footer %}{% endblock%}

{% block scripts %}{% endblock %}

</body>
</html>