{% load staticfiles %}


<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Kanjisama - Dashboard</title>

    {% include "css.html" %}
	
	{% include "favicon.html" %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body class = "profile-page">
	<input id = "user-name" type = "hidden" value = "{{ full_name }}">

    <!-- Navigation -->
    {% include "nav_bar.html" %}


    <!-- Header -->
   
        <div class="container" style = "padding-top:50px">

			<div class="row">
				
			  <!-- <div class="col-lg-12 col-m-12 col-sm-12" style = "border-style:solid"> -->
			   {% if usersets.count == 0 and the_count.0 == 0  %} 
		      	<div id = "review-queue" class="col-xs-6 col-sm-3 col-md-3">
		      	  <div class = "text-center stat-box">
			  			<div class = "big-number">{{ next_review }}</div>
			  			<div class = "stat-label">Time Until Words Available</div>
			  		</div>
		      	</div>
				{% elif review_number == 0 %}
		      	<div id = "review-queue" class="col-xs-6 col-sm-3 col-md-3">
		      	  <div class = "text-center stat-box">
			  			<div class = "big-number">{{ next_review }}</div>
			  			<div class = "stat-label">Time Until Words Available</div>
			  		</div>
		      	</div>
				
				{% else %}
				
		      	<div id = "review-queue" class="col-xs-6 col-sm-3 col-md-3">
					
					<a href = "{% url 'flashcard:srs_review_words' full_name %}">
		      	  		<div class = "text-center stat-box review-ready">
			  				<div class = "big-number">{{ review_number }}</div>
			  				<div class = "stat-label">Review Now!</div>
			  			</div>
					</a>
		      	</div>
				
				{% endif %}
			  	
		      	<div class="col-xs-6 col-sm-3 col-md-3">
		      	  <div class = "text-center stat-box">
					  	<div class = "big-number">{{ due_tomorrow }}</div>
			  			<div class = "stat-label">Reviews Due Next 24hr</div>
			  		</div>	
		      	</div>
				
		      	<div class="col-xs-6 col-sm-3 col-md-3">
		      	  <div class = "text-center stat-box">
					  	<div class = "big-number">{{ total_reviews_ever }}</div>
			  			<div class = "stat-label">Total Cards Reviewed</div>
			  		</div>	
		      	</div>
				
			  	
			  	
		      	<div class="col-xs-6 col-sm-3 col-md-3">
		      	  	<div id = "test" class = "text-center stat-box">
					  	<div class = "big-number">{{ words_reviewed_today }}</div>
			  			<div class = "stat-label">Words Reviewed Today</div>
			  		</div>	
		      	</div>
			  
			 </div>
		 <!-- </div>  -->
<!--end row -->
			  
			 	
        </div>
        <!-- /.container -->
<br>

   <div class = "container">
	   
	   <div class = "row/">
		  <div class = "col-xs-12 col-sm-12 col-md-12 bg-grey module">
		   		<h3>Kanji Progress <small>{{ added_kanji_count }}/2136</small>
					<a id = "kanji-indicator" href = "{% url 'profile:view_new_kanji' full_name %}">
		   		   <button class="btn btn-primary" type="button">
		   				  Add more <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
		   			</button>
				</a>
		   		</h3>
		   		<div class="progress">
		   		  <div class="progress-bar" role="progressbar" aria-valuenow="{{ kanji_percent }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ kanji_percent }}%;">
		   		    {{ kanji_percent }}%
		   		  </div>
		   		</div>
			</div>

		
		</div>
	</div>
        
<br>
    
   <div class = "container">
	   <div class = "row/">
		   <div class = "col-xs-12 col-sm-12 col-md-12 bg-grey module">
		   <h3>Words In Progress <small>{{ word_count}}</small>
			   <a href = "{% url 'profile:new-words' full_name %}">
		   		<button class="btn btn-primary" type="button">
				  	Add more <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
				</button>
			</a>
		   </h3>
		   
		   <div id = "chart-tutorial-stop" class="col-lg-12 col-m-12 col-sm-12">

	      	<div class="progress-box" style = "background-color:white">
	      	  <div class = "text-center">
		  			<h3>{{ the_count.0 }}</h3>
		  			<div>零</div>
		  		</div>
			</div>

	      	<div class="progress-box" style = "background-color:#d1f2fe">
	      	  <div class = "text-center">
		  			<h3>{{ the_count.1 }}</h3>
		  			<div>一</div>
		  		</div>
			</div>

	      	<div class="progress-box" style = "background-color:#baebfd">
	      	  <div class = "text-center">
		  			<h3>{{ the_count.2 }}</h3>
		  			<div>二</div>
		  		</div>
			</div>

	      	<div class="progress-box" style = "background-color:#a3e5fd">
	      	  <div class = "text-center">
		  			<h3>{{ the_count.3 }}</h3>
		  			<div>三</div>
		  		</div>
			</div>

	      	<div class="progress-box" style = "background-color:#8cdefc">
	      	  <div class = "text-center">
		  			<h3>{{ the_count.4 }}</h3>
		  			<div>四</div>
		  		</div>
			</div>

	      	<div class="progress-box" style = "background-color:#75d8fc">
	      	  <div class = "text-center">
		  			<h3>{{ the_count.5 }}</h3>
		  			<div>五</div>
		  		</div>
			</div>

	      	<div class="progress-box" style = "background-color:#5ed1fb">
	      	  <div class = "text-center">
		  			<h3>{{ the_count.6 }}</h3>
		  			<div>六</div>
		  		</div>
			</div>

	      	<div class="progress-box" style = "background-color:#46cbfb">
	      	  <div class = "text-center">
		  			<h3>{{ the_count.7 }}</h3>
		  			<div>七</div>
		  		</div>
			</div>

	      	<div class="progress-box" style = "background-color:#2fc4fa"> 
	      	  <div class = "text-center">
		  			<h3>{{ the_count.8 }}</h3>
		  			<div>八</div>
		  		</div>
			</div>

	      	<div class="progress-box" style = "background-color:#19befa">
	      	  <div class = "text-center">
		  			<h3>{{ the_count.9 }}</h3>
		  			<div>九</div>
		  		</div>
			</div>
		</div>
	</div>
	   </div>
	   
   </div>
<!--end container -->
   
    <!-- Page Content -->

	
    
        <!-- /.container -->
		
    <div class = "container">
 	   <div class = "row">
		   <div class = "col-xs-12 col-sm-12 col-md-12">
 		   	<h2>Initial Lessons
		   		   <a id = "create-lesson-button" href = "{% url 'profile:new-words' full_name %}">
 		   		   <button class="btn btn-primary" type="button">
 		   				  Create lesson <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
 		   			</button>
		   		</a>
 		   		</h2>
 		   		<hr>
				<div class = "row">
		   		{% if not usersets %}
				
	       		<div class="col-xs-4 col-sm-2 col-m-2">
	       		  <div class = "text-center stack">You don't have any stacks yet!
		   			</div>
	       		</div>
		   		{% endif %}
		   		{% for each in usersets %}
		   		
	       		<div class="col-xs-4 col-sm-2 col-m-2">
	       		  <div class = "text-center stack">{{ each }}
		   				<div>{{ each.words.count }} words</div>
	  	   			   <a href = "{% url 'flashcard:practice-stack' full_name each %}">
		   				   <button class="btn btn-primary" type="button">
	  	   					  Review
	  	   					</button>
		   				</a>	
		   				<br>
		   				{% if each.times_practiced == 1 %}
		   				<span class="label label-primary">Complete</span>
		   				{% else %}
		   				<span class="label label-default">Incomplete</span>
		   				{% endif %}
		   		
		   			</div>
	       		</div>
		   		
		   		{% endfor %}
			</div>
	       		
          </div> 	
 		</div>
 	</div>
    <!-- /.content-section-a -->

	<!--Tutorial -->
    <ol id="joyride-tutorial" style = "display:none;">
	  
	  
	  <li class = "tutorial-width"><h1>Welcome to Kanjisama</h1> <p>This is a basic tutorial to help you get started with Kanjisama. You can close this tutorial any time by clicking the 'x' button in the top right hand corner. Otherwise click the next button to get going!</p></li>
	  
	  <li class = "tutorial-width"><h1>The Basics</h1> <p>This is the basic process when using Kanjisama:
		  <ol>
			  <li>Create a stack of words you want to learn, which we call a “lesson”</li><br>
			  <li>Review and complete your lesson to add them into your review queue</li><br>
			  <li>Periodically check back to review your words (Kanjisama figures out the optimal time!)</li><br>
			  <li>Repeat steps 1-3 until you are a samurai koala at Japanese kanji and vocab</li>
		  </ol>
	  
	  </p></li>
	  
	  <li data-id = "create-lesson-button" data-options="tipLocation:right;"><h1>Creating Lessons</h1> <p>Create lessons using words you want to learn from a list of the 10,000 most common words organized by the kanji you already know.</p></li>

	  <li data-class = "stack" data-options="tipLocation:right;"><h1>Reviewing Lessons</h1> <p>After you create a lesson, come back here to review your lesson. When you review a lesson you'll go through all the words one time with the reading and definition shown, and then one more time without the that information. Once you complete a lesson all those words will be added to your  <em><strong> review queue </strong></em>.</p></li>
	  
	  <li data-id = "review-queue" data-options="tipLocation:right;"><h1>The Review Queue</h1> <p>This is your review queue. Once you complete a lesson the words will be added to it. Kanjisama will automatically tell you when it's time to review your words. When words are ready to review they will appear here (just click!), so make sure to check back often!</p></li>
	  
	  <li data-id = "chart-tutorial-stop" class = "tutorial-width" data-options="tipLocation:bottom;"><h1>Progress Chart</h1> <p>This area lets you visually keep track of your words through our SRS system. Once you complete a lesson, words will move from the "零" pile to the "一"　pile. Then as you review words from your review queue, words will either go up a level or down a level depending on if you successfully remembered the reading and meaning of the review word. As a word moves up each level, the time until you see the word will keep increasing. This way you will practice words you don't know well more frequently and words you know less frequently. When a word gets to the end it will no longer show up! </p></li>
	  
      <li data-id = "kanji-indicator" data-options="tipLocation:right;" data-button = "Close" ><h1>Let's get started</h1> <p>This area shows how many kanji you know! Right now we need to figure how many you already know (it's okay if you don't know any). <strong>Click this "Add more" button </strong> to get started!  </p></li>
    </ol>

    <!-- Footer -->
   {% include "footer_new.html" %}
	
    <!-- jQuery -->
    <script src="{% static "homepage/js/jquery.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "homepage/js/bootstrap.min.js" %}"></script>
	
	<script src = "{% static 'homepage/jquery.cookie.js' %}"></script>
	
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "homepage/js/homepage.js" %}"></script>
	
	<!-- Joyride JavaScript, needs to be after jQuery -->
	<script src = "{% static 'manageset/joyride-master/jquery.joyride-2.1.js' %}"></script>
	
	<script>
	
		if(localStorage.getItem("tutorial1") === "incomplete" || localStorage.getItem("tutorial1") == null){
			
			localStorage.setItem("tutorial1", "incomplete");
			
			$(window).load(function() {
				$("#joyride-tutorial").joyride({
				  	 autoStart : true,
				 	 modal:true,
					'postRideCallback': function(){localStorage.setItem("tutorial1", "complete")},
				 	 'scrollSpeed': 1000,
			         	 	 expose: true
			  	});
			});
		};
			
	</script>

</body>

</html>
