{% load endless %}

{% lazy_paginate 300 data %}
{% for each in data %}
	<div id = 'answercontainer{{ each.pk }}' class = 'answerbox' >
		<div class = 'flipper'>
			
			
			<div class = "front">
				<div id = 'kanji'> {{ each.real_word }} </div>
				<div id = 'meaning'> {{ each.meaning|slice:":40" }} </div>
				<div id = 'grade'>{{ each.frequency_two }} - {{ each.frequency }}</div>
				<button class = 'add-remove' id = 'knowit' onclick = 'know_it("{{ each.pk }}"," {{ each.real_word }}","{{ each.meaning }}", this)' >know it!</button>
	
				<button class = 'add-remove' id = 'addit' onclick = 'addword("{{ each.pk }}","{{ each.real_word }}","{{ each.meaning }}", this)'>add</button>
				
				
			</div>
			<div class = 'undo' onclick = 'undo("{{ each.pk }}"," {{ each.real_word }}","{{ each.meaning }}", this)'>Removed</div>
			
			<div class = 'back'>
				
			</div>
			
			
		</div>
	</div>
{% endfor %}
<br style = "clear:both;"/>


{% show_more %}