{% load endless %}

{% lazy_paginate 300 data %}
{% for each in data %}
	<div id = 'answercontainer{{ each.pk }}' class = 'answerbox' >
		<div class = 'flipper'><div class = "front">
			<div id = 'kanji'> {{ each.real_word }} </div>
			<div id = 'meaning'> {{ each.meaning }} </div>
			<div id = 'grade'>{{ each.frequency }}</div>
			<button class = 'add-remove' id = 'knowit' onclick = 'addword("{{ each.pk }}"," {{ each.real_word }}","{{ each.meaning }}", this)' >know it!</button>
	
			<button class = 'add-remove' onclick = 'addword("{{ each.pk }}","{{ each.real_word }}","{{ each.meaning }}", this)'>add</button>
		</div>
			<div class = 'back'></div>
		</div>
	</div>
{% endfor %}
<br style = "clear:both;"/>


{% show_more %}