{% load endless %}

{% paginate 100 known_kanji %}
				{% for each in known_kanji %}	
				
				<div class="col-xs-12 col-sm-4 col-md-3">
					<div class = "text-center manage-card">
						<!-- <div class = 'word-frequency'>{{ each.frequency_thousand }}</div> -->
						
							<span class="glyphicon glyphicon-info-sign glyphicon-holder" aria-hidden="true"></span>
					
						
						
						<br>
						<div class = 'kanji'> {{ each.kanji_name }} </div>
						<div class = 'meaning'> {{ each.kanji_meaning }} </div>
						<div class = 'meaning'> {{ each.grade }} </div>
						<div class = "row">
						
						<div class="col-xs-12 col-sm-12 col-md-12 button-holder">
							<div class = "btn btn-primary btn-sm add-word-button " data-clicked = false data-id = {{ each.pk }} data-entry= {{ each.kanji_name }} data-meaning = "{{ each.kanji_meaning }}" data-grade = {{ each.grade }}  data-strokes="{{ each.strokes }}" data-readings = "{{ each.on_kun_readings }}">Add
								<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
							</div>
						</div>
						
					</div>
					</div>
					
				</div>
					
				{% endfor %}
<br style = "clear:both;"/>


	<div class = "center-block text-center">{% show_more %}</div>
	

		
