{% load endless %}

{% lazy_paginate 100 data %}
				{% for each in data %}	
				
				<div class="col-xs-12 col-sm-4 col-md-3">
					<div class = "text-center manage-card">
						<div class = 'word-frequency'>{{ each.frequency_thousand }}</div>
						
							<span class="glyphicon glyphicon-info-sign glyphicon-holder word-info-click" aria-hidden="true"></span>
					
						<div class = "btn btn-danger btn-xs remove-word-button" data-clicked = false data-id = {{ each.pk }}>
							<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
						</div>
						
						<br>
						<div class = 'kanji'> {{ each.real_word }} </div>
						<div class = 'meaning'> {{ each.hiragana }} </div>
						<div class = 'meaning'> {{ each.meaning|slice:":40" }} </div>
						<div class = "row">
						
						<div class="col-xs-12 col-sm-12 col-md-12 button-holder">
							<div class = "btn btn-primary btn-sm add-word-button " data-clicked = false data-id = {{ each.pk }} data-entry= {{ each.real_word }} data-meaning = '{{ each.meaning }}'  data-pos = "{% for pos in each.wordpos_set.all reversed %}{{pos.pos}}</br>{% endfor %}" data-readings = {{ each.hiragana }} data-definitions = "{% for defs in each.wordmeanings_set.all reversed %} {% if not forloop.last %}{{defs.meaning}}, {% else %} {{defs.meaning}} {% endif %}{% endfor %}" data-kanjis = '{% for kanji in each.kanji.all %}{{ kanji.kanji_name }}{% endfor %}' data-kanji-meaning = '{% for kanji in each.kanji.all %}{{ kanji.kanji_meaning }},{% endfor %}'>Add 
								<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
							</div>
						</div>
						
					</div>
					</div>
					
				</div>
					
				{% endfor %}
<br style = "clear:both;"/>


	<div class = "center-block text-center">{% show_more %}</div>
	


