							<!-- <div id = "filter-button" class = "btn btn-default pull-left">Filter</div> -->
							
							{% for each in selected_kanji %}
									{% for the_kanji in each.kanji.all %}
									<div class = 'pull-left filter-preview' id = "filter-{{ the_kanji.kanji_name }}" data-count='0' class = 'filter-kanji'>
										<div class = "kanji-word">{{ the_kanji.kanji_name }}</div>
										<div class = "kanji-meaning">{{ the_kanji.kanji_meaning }}</div>
										<div class = "kanji-count"></div>
									</div>
									{% endfor %}
							{% endfor %}