{% load el_pagination_tags %}

{% paginate 100 known_kanji_list %}
				{% for each in known_kanji_list %}	
				
				<div class="col-xs-12 col-sm-4 col-md-3">
					<div class = "text-center manage-card">
						<!-- <div class = 'word-frequency'>{{ each.frequency_thousand }}</div> -->
						
							<!-- <span class="glyphicon glyphicon-info-sign glyphicon-holder" aria-hidden="true"></span> -->
					
						
						
						<br>
						<div class = 'kanji'> {{ each.kanji_name }}</div>
						<div class = 'meaning'> {{ each.kanji_meaning }} </div>
						<div class = 'meaning'> {{ each.grade }} </div>
						<div class = "row">
						
						<div class="col-xs-12 col-sm-12 col-md-12 button-holder">
						{% if each.selected_kanji %}	
							<div class = "btn btn-default btn-sm filter-checkbox check-button filter-checked" data-clicked = false data-id = {{ each.pk }} data-kanji= {{ each.kanji_name }} data-meaning = "{{ each.kanji_meaning }}" data-grade = {{ each.grade }}  data-strokes="{{ each.strokes }}" data-readings = "{{ each.on_kun_readings }}">
						{% else %}
						
						<div class = "btn btn-default btn-sm filter-checkbox check-button" data-clicked = false data-id = {{ each.pk }} data-kanji= {{ each.kanji_name }} data-meaning = "{{ each.kanji_meaning }}" data-grade = {{ each.grade }}  data-strokes="{{ each.strokes }}" data-readings = "{{ each.on_kun_readings }}">
							
						{% endif %}	
								
								<div class="glyphicon glyphicon-ok" aria-hidden="true"></div>
							</div>
						</div>
						
						<!-- <div class="checkbox checkbox-success checkbox-inline center-block" data-clicked = false data-id = {{ each.pk }} data-kanji= {{ each.kanji_name }} data-meaning = "{{ each.kanji_meaning }}" data-grade = {{ each.grade }}  data-strokes="{{ each.strokes }}" data-readings = "{{ each.on_kun_readings }}">
						                        <input class = "filter-checkbox" type="checkbox" value="{{ each.pk }}">
						                        <label for="inlineCheckbox1"></label>
						                    </div>
						 -->
					</div>
					</div>
					
				</div>
					
				{% endfor %}
<br style = "clear:both;"/>


	<div class = "center-block text-center">{% show_more %}</div>
