{% extends 'overall_site_temp.html' %}
{% load staticfiles %}
{% block pagetitle %}New Kanji{% endblock %}

{% block header%}

{% include "nav_bar.html" %}

{% endblock%}

{% block content %}

		<!-- <h1 id = "dashboard-title"> {{ full_name }}'s new stack</h1></br> -->
		<br style = "clear:both">
		<input id = "user-name" type = "hidden" value = "{{ full_name }}"></>
		<div id = "left-form-outer-container">
			<div id = "left-form">
				
{% block create-set %}{% endblock %}				
				
				
							
				<br style = "clear:both;"/>
				
				
				<div id = "wordlist-new">
					
					<!-- Where chosen new mini words appear -->
					
					
				</div>
				
				<!-- <br style = "clear:both"/> -->
{% block add-known %}{% endblock %}
				
				
				
				<div id = "wordlist-know">
					
					<!-- Where chosen known mini words appear -->
					
					
				</div>
			</div>
		</div>
		
		<div id = "word-set-nav">
			<a href = "{% url 'profile:new-words' full_name %}"><div class = "manageset-nav" id = "new-words" value = "new words">New Words</div></a>
			<a href = "{% url 'profile:known-kanji' full_name %}" ><div class = "manageset-nav" id = "kanji-bank" value = "kanji bank">Kanji Bank</div></a>
			<a href = "{% url 'profile:view_new_kanji' full_name %}"><div class = "manageset-nav" id = "new-kanji" value = "new kanji">Kanji</div></a>
			<a href = "{% url 'profile:view_word_bank' full_name %}"><div class = "manageset-nav" id = "word-bank" value = "word bank">Word Bank</div></a>
		</div>
		
		
		<!-- <div id = "search-area">
			<span style = "float:left;">Order By:</span>
			<input type = "button" id = "allwords" class = "filter" value = "All"></input>
			<input type = "button" id = "gradefilter" class = "filter" value = "Grade"></input>
			<input type = "button" id = "strokes" class = "filter" value = "Simplicity"></input>
			<input type = "button" value = "Frequency" class = "filter"></input>
			<input type = "button" id = "NLPT" value = "NLPT" class = "filter"></input>

			<br style = "clear:both;">
			<input type = "text" id = "searchbox" class = "text-area" placeholder = "Search by meaning, hirigana, or keyword" autofocus></input>
			<input type = "button" id = "searchbox" value = "search" class = "filter"></input>
		</div> -->
		<!-- <br style = "clear:both"/> -->
	
		<div id = "container">
			
			{% block words%}
			{% endblock%}	
				
				<!-- Where searched words appear -->
			<div id = "loadingDiv">
				<img src = "{% static "manageset/ajax-loader.gif" %}">
			</div>
		
	
		</div>
		
<br style = "clear:both"/>


			
{% endblock %}
{% block footer%}
 {% include "../../kanjisite/templates/footer.html" %}
{% endblock%}
	
{% block scripts %}
	
{% endblock %}	
	
	