{% extends 'overall_site_temp.html' %}
{% load staticfiles %}
{% block pagetitle %}New Kanji{% endblock %}

{% block header%}

{% include "nav_bar.html" %}

{% endblock%}

{% block content %}

		<!-- <h1 id = "dashboard-title"> {{ full_name }}'s new stack</h1></br> -->
		<br style = "clear:both">
		<input id = "user-name" type = "hidden" value = "{{ full_name }}"></>
		<div id = "left-form-outer-container">
			<div id = "left-form">
				
{% block create-set %}{% endblock %}				
				
				
							
				<br style = "clear:both;"/>
				
				
				<div id = "wordlist-new">
					
					<!-- Where chosen new mini words appear -->
					
					
				</div>
				
				<!-- <br style = "clear:both"/> -->
{% block add-known %}{% endblock %}
				
				
				
				<div id = "wordlist-know">
					
					<!-- Where chosen known mini words appear -->
					
					
				</div>
			</div>
		</div>
		
		<div id = "word-set-nav">
			<a href = "{% url 'profile:new-words' full_name %}"><div class = "manageset-nav" id = "new-words" value = "new words">Add Words</div></a>
			<a href = "{% url 'profile:known-kanji' full_name %}" ><div class = "manageset-nav" id = "kanji-bank" value = "kanji bank">Kanji In Progress</div></a>
			<a href = "{% url 'profile:view_new_kanji' full_name %}"><div class = "manageset-nav" id = "new-kanji" value = "new kanji">Unknown Kanji</div></a>
			<a href = "{% url 'profile:view_word_bank' full_name %}"><div class = "manageset-nav" id = "word-bank" value = "word bank">Word Bank</div></a>
		</div>
		
		
		<div class = 'manageset-instructions'>
			{%block instructions%}
			{% endblock %}
			
		</div>
		
		
			{% if selected_kanji %}
			<div id = "kanji-filter-container">
			<div>Kanji in Filter</div>			
				{% for each in selected_kanji %}
						{% for the_kanji in each.kanji.all %}
						<div id = "filter-{{ the_kanji.kanji_name }}" data-count='0' class = 'filter-kanji'>
							<div class = "kanji-word">{{ the_kanji.kanji_name }}</div>
							<div class = "kanji-meaning">{{ the_kanji.kanji_meaning }}</div>
							<div class = "kanji-count"></div>
						</div>
						{% endfor %}
				{% endfor %}
			</div>	
			{% endif %}
		
		
	
		<div id = "container">
			
			{% block words %}
			{% endblock %}	
				
				<!-- Where searched words appear -->
			<div id = "loadingDiv">
				<img src = "{% static "manageset/ajax-loader.gif" %}">
			</div>
		
	
		</div>
		
<br style = "clear:both"/>


			
{% endblock %}
{% block footer%}
 {% include "../../kanjisite/templates/footer.html" %}
{% endblock%}
	
{% block scripts %}
	
{% endblock %}	
	
	