
{% extends 'manageset/manage_set_template.html' %}
{% load staticfiles %}
{% block pagetitle %}New Words{% endblock %}

{% block create-set %}

				<form id = "create-set-form" action = "{% url 'profile:create-set' full_name %}" method = "post">{% csrf_token %}
				
					<input type = "text" id = "set-title" class = "text-area left-margin" name = "title" placeholder = "Name your stack" value = "Lesson {{ usersets|add:"1" }}" onfocus="this.value = this.value;" readonly></input>
				
					<br style = "clear:both"/>
					<!-- <textarea id = "create-set-description" class = "text-area left-margin" name = "description" placeholder = "Write a brief description here"></textarea> -->
					<br style = "clear:both"/>
					<input type = "submit" id = "create-set-button" class = "left-margin" value = "Create Stack"></input>
				</form>
				
				
				
				
				<br style = "clear:both;"/>
				
			
			
{% endblock %}

				{% block instructions %}
				This area shows words only using kanji that you know or are learning.</br>
				Add words to create lessons for you to review.</br>
				Click the Know It! button and it will be removed so you dont have to see it anymore.
				{% endblock %}


{% block add-known %}
				
				
{% endblock %}	


{% block words %}

{% if data %}
{% include page_template %}
{% else %}
<div>Oops there aren't any words available! Go to the Unknown Kanji tab to start adding kanjia and words will start appearing.</div>

{% endif %}

{% endblock %}

{% block scripts %}
		<ol id="joyride-tutorial" style = "display:none">
		  /* data-id needs to be the same as the parent it will attach to */
		  <li data-id="new-words"><h1>New words</h1><p> This area shows all the words available to you based off of the kanji you've added. The words are organized by their relative frequency. </p>
		  
		   <li data-class="add-remove" data-options="tipLocation:left;"><h1>If you know it</h1><p>Click the <strong>know it</strong> button to remove the word so it won't show up anymore.</p>
		   <li data-class="add-remove" data-options="tipLocation:left;"><h1>If you don't know it</h1><p>Click the <strong>add</strong> button to add the word to a stack. Hint - its usually best to keep stacks smaller, like 5 - 20 words.</p>
		  	   
			   
			<li data-id="create-set-button" data-options="tipLocation:left;"><h1>Create your first stack</h1><p>Once you've added the words you want to learn, click this button to create the lesson! This is will take you back to the main page where you can then see your stack and practice it!</p>   
				
			<li data-id="kanji-bank" data-options="tipLocation:left;" data-button="Finish"><h1>Filter words by kanji</h1><p>If you want to see the words available to you for only specific kanji, go to this tab and click the checkmark for the kanji you want to filter by. Hint - this can be really helpful when you add new kanji you want to learn!</p> 	
		  
		  </li>
		  

		</ol>

		<link rel="stylesheet" type="text/css" href="{% static 'manageset/joyride-master/joyride-2.1.css' %}">
		<script src = "{% static 'manageset/joyride-master/jquery.joyride-2.1.js' %}"></script>
		<script>
		$(window).load(function() {
		  $("#joyride-tutorial").joyride({
		    /* Options will go here */
			  {% if usersets == 0  %}
			  autoStart : true,
			  {% else %}
			  autoStart : false,
			  {% endif %}
			  
			  // modal:true,
			  // 'scrollSpeed': 1000,
       	   	  // expose: true
		  });
		});
		</script>


<script>
var the_selected_kanji = [];
		{% for each in selected_kanji %}
				{% for the_kanji in each.kanji.all %}
				the_selected_kanji.push('{{the_kanji.kanji_name}}')
				
				{% endfor %}
		{% endfor %}	
</script>
<script src = "{% static 'manageset/new-words-view.js' %}"></script>

{% block js %}
{{ block.super }}
<!-- <script src = "{% static 'manageset/card-search.js' %}"></script> -->
    
    <script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>
    <script>$.endlessPaginate();</script>
{% endblock %}	
{% endblock %}	