{% extends 'manageset/manage_set_template.html' %}
{% load staticfiles %}
{% block pagetitle %}New Kanji{% endblock %}



{% block add-known %}
				<span style = "float:left"> Known Kanji: </span>

				
				<form id = "known-kanji-form" action = "{% url 'profile:add-known-kanji' full_name %}" method = "post">{% csrf_token %}
				
					<input type = "submit" class = "left-margin" value = "Submit Known Kanji"></input>
				</form>
				
{% endblock %}

{% block words %}

{% include page_template %}



{% endblock %}

		

{% block scripts %}
<script>
var knowncheck = [];
	
{% for kanji in known_kanji %}
	knowncheck.push('{{ kanji.id }}');
{% endfor %}

</script>
{% block js %}
{{ block.super }}
<script src = "{% static 'manageset/card-search.js' %}"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>
    <script>$.endlessPaginate();</script>
{% endblock %}	
{% endblock %}


    
    
	