{% extends 'overall_site_temp.html' %}
{% load staticfiles %}
{% block pagetitle %}Profile{% endblock %}

{% block header%}

{% include "nav_bar.html" %}

{% endblock%}

{% block content %}


		<h1 id = "dashboard-title"> {{ full_name }}'s dashboard</h1></br>
		<br style = "clear:both"/>
		<!-- <div id = "stats"></div> -->
		
		
		{% if usersets.count == 0 and the_count.0 == 0  %}
		
		<div id = "review-indicator-no-click" style = "cursor:not-allowed;">
			<div class = "overlay-reviews">
				<p></p>
				<span style = "font-size:1.2em">Oops, you haven't added any words!</span>
			</div>
			<p>Reviews</p>
			<span>0</span>
			<p>Due Now</p>
		
		</div>
		
		{% elif review_number == 0 %}	
		<div id = "review-indicator-no-click" style = "cursor:not-allowed;">
			<div class = "overlay-reviews">
				<p>Next Review</p>
				<span>{{ next_review }}</span>
			</div>
			<p>Reviews</p>
			<span>0</span>
			<p>Due Now</p>
			<!-- <p>Next in: {{ next_review }}</p> -->
		</div>
		
		{% else %}
		
		<a href = "{% url 'flashcard:srs_review_words' full_name %}"><div id = "review-indicator">
			<!-- <div class = "overlay-reviews">
				<p>Next Review</p>
				<span>{{ next_review }}</span>
			</div> -->
			<p>Reviews</p>
			<span>{{ review_number }}</span>
			<p>Due Now</p>
			<!-- <p>Next in: {{ next_review }}</p> -->
		</div></a>
		
		{% endif %}
		
		
		
		<a href = "{% url 'profile:new-words' full_name %}"><div id = "lesson-create">
			<div class = "overlay-reviews">
				<p>Add Words and Create Lessons</p>
				<span style = "font-size:2em;">+</span>
			</div>
			<p>Words In Progress</p>
			<span>{{ word_count }}</span>
			<!-- <p>Next in: {{ next_review }}</p> -->
		</div></a>
		
		
		
		<a href = "{% url 'profile:view_new_kanji' full_name %}"><div id = "kanji-indicator">
			<div class = "overlay-reviews">
				<p style = 'font-size:1.2em; margin-top:40px'>Add and Manage Kanji</p>
				
			</div>
			<p>Kanji Progress</p>
			<span>{{ added_kanji_count }}</span>
			<!-- <p>Due Now</p> -->
			<!-- <p>Next in: {{ next_review }}</p> -->
		</div></a>
		
		
		
		
		<div id = "stat-box-area">
			<div class = "module">
				<span>Reviews Next 24 Hours<span>
				<p>{{ due_tomorrow }}</p>
				
			</div>		
			<div class = "module">
				<span>Total Words in Progress<span>
				<p>{{ word_count }}</p>
				
					
			</div>
			<div class = "module">
				<p>{{ total_reviews_ever }}</p>
				<span>Total Reviews Ever<span>
					
			</div>
			<div class = "module">
				<p>{{ words_added_today }}</p>
				<span>New Words Added Last 24 Hrs<span>
					
			</div>
			
			<!-- <p>Due Now</p> -->
			<!-- <p>Next in: {{ next_review }}</p> -->
		</div>
		
		
		
		
		<!-- <div id = "review-indicator-no-click">
			<p>No Reviews!</p>
			<p>Next Reviews In:</p>
			<span>{{ next_review }}</span>

		</div> -->
		
		
		
		<br style = "clear:both;">
		<div id = "progress-chart">
			<div id = "progress-chart-inner">
				<div class = "level-indicator">
					
					<h2>{{ the_count.0 }}</h2>
					<span>零</span>
				</div>
				<div class = "level-indicator">
					<h2>{{ the_count.1 }}</h2>
					<span>一</span>
				</div>
				<div class = "level-indicator">
					<h2>{{ the_count.2 }}</h2>
					<span>二</span>
				</div>
				<div class = "level-indicator">
					<h2>{{ the_count.3 }}</h2>
					<span>三</span>
				</div>
				<div class = "level-indicator" id = "chart-tutorial-stop">
					<h2>{{ the_count.4 }}</h2>
					<span>四</span>
				</div>
				<div class = "level-indicator">
					<h2>{{ the_count.5 }}</h2>
					<span>五</span>
				</div>
				<div class = "level-indicator">
					<h2>{{ the_count.6 }}</h2>
					<span>六</span>
				</div>
				<div class = "level-indicator">
					<h2>{{ the_count.7 }}</h2>
					<span>七</span>
				</div>
				<div class = "level-indicator">
					<h2>{{ the_count.8 }}</h2>
					<span>八</span>
				</div>
				<div class = "level-indicator">
					<h2>{{ the_count.9 }}</h2>
					<span>九</span>
				</div>
				<!-- <div class = "level-indicator">
					<h2>{{ the_count.10 }}</h2>
					<span>10</span>
				</div> -->
			</div>
		</div>
		<br style = "clear:both"/>
		
		<!-- <p> this is your id: {{ userprofileid }}</p> -->
		<div id = "set-preview">
			
			<div id = "lesson-instruction">Create and complete lessons to add words into the study queue.</div>
			<br style = "clear:both;"/>
			<br/>
			
			
	
			<a href = "{% url 'profile:new-words' full_name %}" id = "hellome">	
				<div id = "primary-set-list" class = "set-list-no-hover">
					<p>Create New Lessons</p>
					<span style = "font-size:2em;">+</span><!-- <p>+</p> -->
				</div>
			</a>
				
		
			
		{% for each in usersets %}
			<div class = "set-list">
				<div class = "overlay"> 
					<div id = "set-description">{{ each.description }}</div></br>
					
					<a href = "{% url 'flashcard:practice-stack' full_name each %}"><div class = "set-option">Review Lesson</div></a>
				
				</div>
				<p>{{ each }}</p>
				<p>Words: {{ each.words.count }}</p>
				{% if each.times_practiced == 1 %}
				<p style = "color:rgba(66,235,89,1);">complete</p>
				{% else %}
				<p></p>
				
				{% endif %}
				
				
			</div>
		{% endfor %}
		</div>
		
		<ol id="joyride-tutorial" style = "display:none">
		  /* data-id needs to be the same as the parent it will attach to */
		  <li data-id="dashboard-title"><h1>Welcome!</h1><p>Kanjisama is an SRS (spaced repition system) application that can help you learn 2000 kanji and thousands of the most common Japanese words. We help you rapidly build your vocab based on kanji you already know and give you the tools to learn new kanji at your own pace. </p>
		  
		  </li>
		  

		  /* This tip will be display as a modal */

		  
		  
		  <li data-id = "primary-set-list" data-options="tipLocation:right;"><h1>Creating Lessons</h1> <p>Create lessons using words you want to learn from a list of the 10,000 most common words organized by the kanji you already know.</p></li>
		  
		  <li data-id = "primary-set-list" data-options="tipLocation:right;"><h1>Reviewing Lessons</h1> <p>After you create a lesson, come back here to review your lesson. When you review a lesson you'll go through all the words one time with the reading and definition shown, and then one more time without the that information. Once you complete a lesson all those words will be added to your  <em><strong> review queue </strong></em>.</p></li>
		  
		  <li data-id = "review-indicator-no-click" data-options="tipLocation:right;"><h1>The Review Queue</h1> <p>This is your review queue. Once you complete a lesson the words will be added to it. Kanjisama will automatically tell you when it's time to review your words. When words are ready to review they will appear here (just click!), so make sure to check back often!</p></li>
		  
		  <li data-id = "chart-tutorial-stop" class = "tutorial-width"><h1>Progress Chart</h1> <p>This area lets you visually keep track of your words through our SRS system. Once you complete a lesson, words will move from the "零" pile to the "一"　pile. Then as you review words from your review queue, words will either go up a level or down a level depending on if you successfully remembered the reading and meaning of the review word. As a word moves up each level, the time until you see the word will keep increasing. This way you will practice words you don't know well more frequently and words you know less frequently. When a word gets to the end it will no longer show up! </p></li>
		  
		  <li data-id = "kanji-indicator" data-options="tipLocation:right;"><h1>Let's get started</h1> <p>This shows how many kanji you know! Right now we need to figure how many you already know (it's okay if you don't know any!). <strong>Click this circle </strong> to get started!  </p></li>

		  <!-- /* using 'data-button' lets you have custom button text */ -->
		  <!-- <li data-id="progress-chart-inner" data-button="Second Button">Content...</li> -->
		 

		 
		</ol>

		<link rel="stylesheet" type="text/css" href="{% static 'manageset/joyride-master/joyride-2.1.css' %}">
		<script src = "{% static 'manageset/joyride-master/jquery.joyride-2.1.js' %}"></script>
		<script src = "{% static 'manageset/main_profile.js' %}"></script>
		
		<script>
		$(window).load(function() {
		  $("#joyride-tutorial").joyride({
		    /* Options will go here */
			  {% if added_kanji_count == 0  %}
			  autoStart : true,
			  {% else %}
			  autoStart : false,
			  {% endif %}
			  
			  // modal:true,
			  // 'scrollSpeed': 1000,
       	   	  // expose: true
		  });
		});
		</script>
<!-- <script src = "manageset/main_profile.js"></script> -->
{% endblock %}

{% block footer%}
 {% include "../../kanjisite/templates/footer.html" %}
{% endblock%}



