{% extends 'overall_site_temp.html' %}
{% load staticfiles %}
{% block pagetitle %}Profile{% endblock %}



{% block content %}
{% include "nav_bar.html" %}

		<h1 id = "dashboard-title"> {{ full_name }}'s dashboard</h1></br>
		<br style = "clear:both"/>
		<!-- <div id = "stats"></div> -->
		<div id = "progress-chart">
			<div id = "progress-chart-inner">
				<div class = "level-indicator">
					
					<h2>{{ the_count.0 }}</h2>
					<span>零</span>
				</div>
				<div class = "level-indicator">
					<h2>{{ the_count.1 }}</h2>
					<span>一</span>
				</div>
				<div class = "level-indicator">
					<h2>{{ the_count.2 }}</h2>
					<span>二</span>
				</div>
				<div class = "level-indicator">
					<h2>{{ the_count.3 }}</h2>
					<span>三</span>
				</div>
				<div class = "level-indicator">
					<h2>{{ the_count.4 }}</h2>
					<span>四</span>
				</div>
				<div class = "level-indicator">
					<h2>{{ the_count.5 }}</h2>
					<span>五</span>
				</div>
				<div class = "level-indicator">
					<h2>{{ the_count.6 }}</h2>
					<span>六</span>
				</div>
				<div class = "level-indicator">
					<h2>{{ the_count.7 }}</h2>
					<span>七</span>
				</div>
				<div class = "level-indicator">
					<h2>{{ the_count.8 }}</h2>
					<span>八</span>
				</div>
				<div class = "level-indicator">
					<h2>{{ the_count.9 }}</h2>
					<span>九</span>
				</div>
				<!-- <div class = "level-indicator">
					<h2>{{ the_count.10 }}</h2>
					<span>10</span>
				</div> -->
			</div>
		</div>
		<br style = "clear:both"/>
		<br style = "clear:both"/>
		<!-- <p> this is your id: {{ userprofileid }}</p> -->
		<div id = "set-preview">
	
			<a href = "{% url 'profile:new-words' full_name %}">	
				<div class = "set-list">Create a new set
					<div>+</div><!-- <p>+</p> -->
				</div>
			</a>
				
		
			<div class = "set-list"><div class = "overlay"> 
					<div id = "set-description">This has all the words in all of your sets combined</div></br>
					<a href = "{% url 'flashcard:srs_review_words' full_name %}"><div class = "set-option">Practice</div></a>
					<!-- <a href = "#"><div class = "set-option">Edit</div></a> -->
				</div>
				<div>Reviews</div><div>{{ review_number }}</div>
			</div>
		{% for each in usersets %}
			<div class = "set-list">
				<div class = "overlay"> 
					<div id = "set-description">{{ each.description }}</div></br>
					
					<a href = "{% url 'flashcard:practice-stack' full_name each %}"><div class = "set-option">Practice</div></a>
				
				</div>
				<p>{{ each }}</p>
				<p>Words: {{ each.words.count }}</p>
				{% if each.times_practiced == 1 %}
				<p style = "color:green;">complete</p>
				{% else %}
				<p></p>
				
				{% endif %}
				
				
			</div>
		{% endfor %}
		</div>
		
{% include "footer.html" %}		
		
		
		<script src = "{% static 'manageset/main_profile.js' %}"></script>
<!-- <script src = "manageset/main_profile.js"></script> -->
{% endblock %}



