{% load staticfiles %}


<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Kanjisama - Create Stacks</title>

     {% include "css.html" %}
	
	{% include "favicon.html" %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body class = "manage-set-page">
	<!-- Navigation -->
	{% include "nav_bar.html" %}
	<br style = "clear:both">
	<input id = "user-name" type = "hidden" value = "{{ full_name }}"></input>

   
    

	
	<div class = "container" style = "padding-top:35px">
		<ul class="nav nav-tabs" style = "padding-top:35px">
		  <li role="presentation" class="active"><a href="#">Create Stacks / Add Words</a></li>
		  <li role="presentation"><a href="{% url 'profile:view_new_kanji' full_name %}">Kanji</a></li>
		  
		</ul>
		<div class = "row">
	      	<div class="col-xs-3 col-sm-3 col-md-3 pull-left" data-spy="affix" data-offset-top="60" data-offset-bottom="0">
			<form id = "create-set-form" action = "{% url 'profile:create-set' full_name %}" method = "post">{% csrf_token %}
			
				<input type = "text" id = "set-title" class = "text-area left-margin" name = "title" placeholder = "Name your stack" value = "Lesson {{ usersets|add:"1" }}" onfocus="this.value = this.value;" readonly></input>
				
			

				<input type = "submit" class = "btn btn-primary" value = "Create Stack"></input>
				<div id = "stack-preview" class = "row">
					
					
				</div>
			</form>             
	      	</div>
			
	      	<div class="col-xs-8 col-sm-9 col-md-9 pull-right">
      	  	  	<div class = "row" style = "margin-top:0px;">
					<div class = "col-xs-6 col-sm-6 col-md-6">
		  				<div class = "btn btn-default col-md-12">Your Words</div>
					</div>
					<div class = "col-xs-6 col-sm-3 col-md-6">
		  				<div class = "btn btn-default col-md-12">All Words</div>
					</div>
				</div>
        	  	
				
				<div class = "row">
					<div class="col-xs-12 col-sm-12 col-md-12">
						<div class="well well-sm">These are all the words available to you based off of the kanji you've added. The words are organized by their relative frequency.</div>
					</div>
				</div>
				
				<div class = "row">
					<div class="col-xs-12 col-sm-12 col-md-12">
						<div class="well well-sm" style = "overflow:auto;">Kanji Filter
							<div id = "filter-button" class = "btn btn-default pull-left">Filter</div>
							
							{% for each in selected_kanji %}
									{% for the_kanji in each.kanji.all %}
									<div class = 'pull-left filter-preview' id = "filter-{{ the_kanji.kanji_name }}" data-count='0' class = 'filter-kanji'>
										<div class = "kanji-word">{{ the_kanji.kanji_name }}</div>
										<div class = "kanji-meaning">{{ the_kanji.kanji_meaning }}</div>
										<div class = "kanji-count"></div>
									</div>
									{% endfor %}
							{% endfor %}
						</div>
					</div>
				</div>
				
        	  	<div id = "your-words-container" class = "row">
				{% include page_template %}	
					
					
					
  				</div>
		  	</div>
		</div>
		
      	
		
	</div>
   


<!-- MODAL -->
  <div class="modal fade" id="myModalFilter" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title text-center" id="myModalLabel">Filter By Kanji</h4>
        </div>
        <div class="modal-body text-center">
  		<div class = "row">
			<div id = "filter-area" class = "col-xs-12 col-sm-12 col-md-12 preview-card">
				
			</div>
					

  		</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          <!-- <button type="button" class="btn btn-primary">Close</button> -->
        </div>
      </div>
    </div>
  </div>  
 </div>  

       
    

    <!-- Footer -->
   {% include "footer_new.html" %}

    <!-- jQuery -->
    <script src="{% static "homepage/js/jquery.js" %}"></script>
	<script src = "{% static 'homepage/jquery.cookie.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "homepage/js/bootstrap.min.js" %}"></script>
	<script src="{% static "manageset/your-words.js" %}"></script>
	
	<!-- Endless pagination -->
    <script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>
    <script>$.endlessPaginate();</script>

</body>

</html>