{% load staticfiles %}


<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Kanjisama - Create Stacks</title>

     {% include "css.html" %}
	
	{% include "favicon.html" %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body class = "manage-set-page">
	<!-- Navigation -->
	{% include "nav_bar.html" %}
	<br style = "clear:both">
	<input id = "user-name" type = "hidden" value = "{{ full_name }}"></input>

   
    

	
	<div class = "container" style = "padding-top:35px">
		<ul class="nav nav-tabs" style = "padding-top:35px">
		  <li role="presentation" class="active"><a href="#">Create Stacks / Add Words</a></li>
		  <li role="presentation"><a href="{% url 'profile:view_new_kanji' full_name %}">Kanji</a></li>
		  
		</ul>
		<div class = "row">
	      	<div class="col-xs-3 col-sm-3 col-md-3 pull-left" data-spy="affix" data-offset-top="60" data-offset-bottom="0">
			<form id = "create-set-form" action = "{% url 'profile:create-set' full_name %}" method = "post">{% csrf_token %}
			
				<input type = "text" id = "set-title" class = "text-area left-margin" name = "title" placeholder = "Name your stack" value = "Lesson {{ usersets|add:"1" }}" onfocus="this.value = this.value;" readonly></input>
				
			

				<input id = "stack-submit" type = "submit" class = "btn btn-primary" value = "Create Stack" disabled></input>
				<div id = "stack-preview" class = "row">
					
					
				</div>
			</form>             
	      	</div>
			
	      	<div class="col-xs-8 col-sm-9 col-md-9 pull-right">
      	  	  	<div class = "row" style = "margin-top:0px;">
					<div class = "col-xs-6 col-sm-6 col-md-6">
		  				<div id = "your-words" class = "btn btn-default col-md-12 button-clicked">Your Words</div>
					</div>
					<div class = "col-xs-6 col-sm-3 col-md-6">
		  				<div id = "all-words" class = "btn btn-default col-md-12">All Words</div>
					</div>
				</div>
        	  	
				
				<div class = "row">
					<div class="col-xs-12 col-sm-12 col-md-12">
						<div id = "section-explanation" class="well well-sm">These words only consist of the kanji you've added organized by their relative frequency.</div>
					</div>
				</div>
				
				<div class = "row">
					<div class="col-xs-12 col-sm-12 col-md-12">
						<div id = "your-words-filter" class="well well-sm" style = "overflow:auto;">
							<div id = "filter-button" class = "btn btn-default pull-left">Filter</div>
							<div id = "filter-well">
							{% for each in selected_kanji %}
									{% for the_kanji in each.kanji.all %}
									<div class = 'pull-left filter-preview' id = "filter-{{ the_kanji.kanji_name }}" data-count='0' class = 'filter-kanji'>
										<div class = "kanji-word">{{ the_kanji.kanji_name }}</div>
										<div class = "kanji-meaning">{{ the_kanji.kanji_meaning }}</div>
										<div class = "kanji-count"></div>
									</div>
									{% endfor %}
							{% endfor %}
							</div>
						</div>	
							
						<div id = "your-words-search" style = "display:none;" class="well well-sm" style = "overflow:auto;">
						    <div class="input-group">
						      <input id = "search-input" style = "height:33px;" type="text" class="form-control" placeholder="Search by kanji, hiragana, or keyword">
						      <span class="input-group-btn">
						        <button id = "search-button" class="btn btn-default" type="button">Search!</button>
						      </span>
						    </div>


						</div>
													
							
							
					</div>
				</div>
				
        	  	<div id = "your-words-container" class = "row">
				{% include page_template %}	
					
					
					</br>
  				</div>
		  	</div>
		</div>
		
      	
		
	</div>
	</br>
   


<!-- MODAL -->
  <div class="modal fade" id="myModalFilter" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title text-center" id="myModalLabel">Filter By Kanji</h4>
        </div>
        <div class="modal-body text-center">
  		<div class = "row">
			<div id = "filter-area" class = "col-xs-12 col-sm-12 col-md-12 preview-card">
				
			</div>
					

  		</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          <!-- <button type="button" class="btn btn-primary">Close</button> -->
        </div>
      </div>
    </div>
  </div>  
 </div>  




<!-- INFO MODAL -->
 <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
         <h4 class="modal-title text-center" id="myModalKanji">Word Info</h4>
       </div>
       <div class="modal-body text-center">
 	<div class = "row">
		
       	
 			<div class = "col-xs-6 col-sm-6 col-md-6">
 				<div class = "inner-info-box">
 					<div class = "word-info-header">Reading</div>
 					<div id = "word-reading" class = "information">ひらがな</div>
 				</div>
 				<div class = "inner-info-box">
 					<div class = "word-info-header">Part of Speech</div>
 					<div id = "word-pos" class = "information">na-adjective,<br> suru verb,<br> and something else</div>
 				</div>
 				<div class = "inner-info-box" >
 					<div class = "word-info-header">Kanji</div>
 					<div class = "kanji-info information">
       	
 					</div>
 				</div>
 			</div>
       	
 			<div class = "col-xs-6 col-sm-6 col-md-6">
 				<div class = "word-info-header">Definitions</div>
 				<div class = "list-definitions">
 					definitions,asdfjsa
 				</div>
 			</div>
			

 	</div>
       <div class="modal-footer">
         <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
       </div>
     </div>
   </div>
 </div>    
</div>

			<ol id="joyride-tutorial" style = "display:none">
					  /* data-id needs to be the same as the parent it will attach to */
					  <li><h1>Create Stacks Page</h1><p> This is where you can create lessons for words you want to learn.
					  <ol>
						  <li>Add words to your lesson.</li>
						  <li>Remove words you don't want to see in the future</li>
						  <li>Click create lesson to create it</li>
						  <li>You'll be directed to the homepage where you can review the lesson</li><br>
						  
					  </ol>
					   </p>

					   <li data-class="add-word-button" data-options="tipLocation:right;"><h1>If you know it</h1><p>Click the "Add" button to add a word to your lesson. <br><br> Hint -  We suggest that you don't put more than 20 words in a lesson to start off until you get a feel for things.</p>
						<li data-class="remove-word-button" data-options="tipLocation:right;"><h1>If you already know it...</h1><p>...or don't want to see it again just click the X and it will disappear next time you visit the page. </p>   
						   
					   <li data-id="your-words" data-options="tipLocation:left;"><h1>Your Words tab</h1><p>You are currently in this area. When you are here you will be shown words that only contain kanji that you have already added.</p>
						   <li data-id="filter-button" data-options="tipLocation:left;"><h1>Kanji Filter</h1><p>User this to filter by individual or multiple kanji. This can be really useful if you just recently added a new kanji and want to find words with that kanji.</p>
					
					<li data-id="all-words" data-options="tipLocation:left;"><h1>All Words tab</h1><p>This tab allows you to search all words by kanji, definition, or hiragana readings.</p>	   


						<li data-id="stack-submit" data-options="tipLocation:left;"><h1>Create your first stack</h1><p>Once you've added the words you want to learn, click this button to create the lesson! This is will take you back to the main page where you can then see your stack and practice it!</p>

						<li data-id="kanji-bank" data-options="tipLocation:left;" data-button="Finish"><h1>Filter words by kanji</h1><p>If you want to see the words available to you for only specific kanji, go to this tab and click the checkmark for the kanji you want to filter by. Hint - this can be really helpful when you add new kanji you want to learn!</p>

					  </li>


					</ol>
    

   <!-- Footer -->
   {% include "footer_new.html" %}
	
	
	
    <!-- jQuery -->
    <script src="{% static "homepage/js/jquery.js" %}"></script>
	<script src = "{% static 'homepage/jquery.cookie.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "homepage/js/bootstrap.min.js" %}"></script>
	<script src="{% static "manageset/your-words.js" %}"></script>
	
	<!-- Endless pagination -->
    <script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>
    <script>$.endlessPaginate({
            onCompleted: function() {
				attach_word_info_click();
				attach_entry_button_click();
				click_button_if_in_stack();
            }
        });</script>
		
	<!-- Joyride JavaScript, needs to be after jQuery -->
	<script src = "{% static 'manageset/joyride-master/jquery.joyride-2.1.js' %}"></script>
	
<script>

	if(localStorage.getItem("tutorial3") === "incomplete" || localStorage.getItem("tutorial3") == null){
		
		localStorage.setItem("tutorial3", "incomplete");
		
		$(window).load(function() {
			$("#joyride-tutorial").joyride({
			  	 autoStart : true,
			 	 modal:true,
				scroll:false,
				'postRideCallback': function(){localStorage.setItem("tutoria3", "complete")},
			 	 // 'scrollSpeed': 1000,
		         	 	 expose: true
		  	});
		});
	};
		
</script>

</body>

</html>