{% extends 'overall_site_temp.html' %}
{% load staticfiles %}
{% block pagetitle %}Profile{% endblock %}

{% block content %}
		<!-- <h1 id = "dashboard-title"> {{ full_name }}'s new stack</h1></br> -->
		<br style = "clear:both">
		<!-- <p> this is your id: {{ userprofileid }}</p> -->
		<form id = "create-set-form" action = "{% url 'profile:create-set' full_name %}">
			<input type = "text" id = "set-title" class = "text-area left-margin" name = "title" placeholder = "Name your stack" autofocus></input>
			<input type = "submit" id = "create-set-button" value = "Create Stack"></input>
			<input type = "text" id = "chosenwords" class = "text-area left-margin" name = "chosenwords" ></input>
		
			<br style = "clear:both"/>
			<textarea id = "create-set-description" class = "text-area left-margin" name = "description" placeholder = "Write a brief description here"></textarea>
			
		
		</form>
		<div id = "search-area">
			<span style = "float:left;">Filter:</span>
			<input type = "button" id = "allwords" value = "All"></input>
			<input type = "button" id = "gradefilter" value = "Grade"></input>
			<input type = "button" id = "strokes" value = "Simplicity"></input>
			<input type = "button" value = "Frequency"></input>
			<input type = "button" value = "NLPT" onclick = ></input>
			<br style = "clear:both;">
			<input type = "text" id = "searchbox" class = "text-area" placeholder = "Search by meaning, hirigana, or keyword" autofocus></input>
			<!-- <input type = "button" value = "search" id = "start-search"></input> -->
		</div>
		<br style = "clear:both"/>
	
		<div id = "container">
				
				<div id = 'answercontainer' class = 'answerbox'>
					<div class = 'flipper'>
						<div class = 'front'>
							<div id = "kanji"> 本</div>
							<div id = "meaning">Book </div>
							
							<div id = "grade"> Grade: 1 </div>
							<button class = "add-remove">know it!</button>
							<button class = "add-remove">add</button>
						</div>	
						<div class = 'back'> Readings? or associated words? </div>
					</div>
				</div>
		
	
		</div>
		
		
		
		
			
{% endblock %}

{% block scripts %}
<script language>

var chosenwords = [1,2,3,4];
document.getElementById('chosenwords').value = chosenwords;


var filter = "grade";

var search = function(signal){
	
	$.ajax({
		url:'http://localhost:8000/profile/{{ full_name }}/new-set/word-search',
		type:'GET',
		// dataType: 'json',
		data:{theorder: filter , csrfmiddlewaretoken: '{{ csrf_token }}'},
		success: function(data){
			
			data = JSON.parse(data);
			console.log("workeds");
			
			if (signal == ''){
				keyword = '';
			}else{
			keyword = document.getElementById('searchbox').value;
			}
			
			var foundflag = false;
			var content = "";
			
			if(keyword == ''){
				for(var i= 0; i<data.length; i++){
					
						content = content + "<div id = 'answercontainer' class = 'answerbox' >";
						content = content + "<div class = 'flipper'><div class = front>"; 
						content = content + "<div id = 'kanji'>" + data[i].fields.kanji_name + "</div>";
						content = content + "<div id = 'meaning'>" + data[i].fields.kanji_meaning + "</div>";
						content = content + "<div id = 'grade'>" + data[i].fields.grade + "</div>";
						content = content + "<button class = 'add-remove'>know it!</button>";
						content = content + "<button class = 'add-remove'>add</button>";
						content = content + "</div></div>"
						content = content + "<div class = 'back'>" + data[i].fields.kanji_name + "</div></div></div>";
						
					}
				document.getElementById('container').innerHTML = content;	
						
			}else{
				
				for(var i= 0; i<data.length; i++){
					
					if(data[i].fields.kanji_meaning.toLowerCase().indexOf(keyword.toLowerCase())!= -1||data[i].fields.kanji_name.indexOf(keyword)!=-1){
				
						content = content + "<div id = 'answercontainer' class = 'answerbox' onclick = 'clicked(this)'>";
						content = content + "<div class = 'flipper'><div class = front>"; 
						content = content + "<div id = 'kanji'>" + data[i].fields.kanji_name + "</div>";
						content = content + "<div id = 'meaning'>" + data[i].fields.kanji_meaning + "</div>";
						content = content + "<div id = 'grade'>" + data[i].fields.grade + "</div>";
						content = content + "<button class = 'add-remove'>know it!</button>";
						content = content + "<button class = 'add-remove'>add</button>";
						content = content + "</div></div>"
						content = content + "<div class = 'back'>" + data[i].fields.kanji_name + "</div></div></div>";
						foundflag = true;
					}
					
					if(foundflag == true){
						document.getElementById('container').innerHTML = content;
					}else{
						document.getElementById('container').innerHTML = "There are no matching results for your query: " + keyword ;
					}
						
					
					
				}
			}
				// document.getElementById('container').innerHTML = content;
			
			
		},
		failure: function(data){
			alert("Sorry got an error")
		}
	});
};


document.getElementById('strokes').onclick = function(){
	filter = "strokes";
	search('');
}

document.getElementById('gradefilter').onclick = function(){
	filter = "grade"
	search("yes");
}

document.getElementById('searchbox').onkeyup = function(){
	// filter = "grade"
	search("yes");
}

search('');
		
</script>
{% endblock %}		