{% extends 'overall_site_temp.html' %}
{% load staticfiles %}
{% block pagetitle %} View and Edit {{ set_name }}{% endblock %}

{% block content %}
		<!-- <h1 id = "dashboard-title"> {{ full_name }}'s new stack</h1></br> -->
		<br style = "clear:both">
		<!-- <p> this is your id: {{ userprofileid }}</p> -->
		
		<div id = "left-form">
			
			
			<form id = "create-set-form" action = "{% url 'profile:create-set' full_name %}" method = "post">{% csrf_token %}
			
				<input type = "text" id = "set-title" class = "text-area left-margin" name = "title" value = "{{ set_name }}" readonly></input>
			
				<br style = "clear:both"/>
				<textarea id = "create-set-description" class = "text-area left-margin" name = "description" value = "{{ set_name.description }}" readonly></textarea>
				<br style = "clear:both"/>
				<input type = "submit" id = "create-set-button" class = "left-margin" value = "Create Stack"></input>
			</form>
			<br style = "clear:both;"/>
			
			<div id = "wordlist">
				
				<!-- Where chosen mini words appear -->
				
				
			</div>
		</div>
		
		
		<div id = "search-area">
			<span style = "float:left;">Order By:</span>
			<input type = "button" id = "allwords" class = "filter" value = "All"></input>
			<input type = "button" id = "gradefilter" class = "filter" value = "Grade"></input>
			<input type = "button" id = "strokes" class = "filter" value = "Simplicity"></input>
			<input type = "button" value = "Frequency" class = "filter"></input>
			<input type = "button" id = "NLPT" value = "NLPT" class = "filter"></input>
			<br style = "clear:both;">
			<input type = "text" id = "searchbox" class = "text-area" placeholder = "Search by meaning, hirigana, or keyword" autofocus></input>
		</div>
		<!-- <br style = "clear:both"/> -->
	
		<div id = "container">
				
				<!-- Where searched words appear -->
		
	
		</div>
		
		
		
		
			
{% endblock %}

{% block scripts %}
<!-- <script src = "{% static 'manageset/card-search.js' %}"></script> -->
{% endblock %}		